/* Text Styles */
hr { color: #404040 }
body, table, tr, th /* Normal */
{
 font-size: 100%;
 font-family: Arial,Helvetica,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #404040;
 text-decoration: none;
}
table, tr, th
{
 font-size: 100%;
}
span.f_CodeExample /* Code Example */
{
 font-family: 'Courier New',Courier,monospace;
 color: #000000;
}
span.f_CodeExampleInRegel /* Code Example In Regel */
{
 font-family: 'Courier New',Courier,monospace;
 color: #000000;
}
span.f_Comment /* Comment */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 1.64rem;
 color: #c3efea;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 1.45rem;
 font-weight: bold;
 color: #00659c;
}
span.f_Heading3 /* Heading3 */
{
 font-size: 1.09rem;
 font-weight: bold;
 color: #00429c;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 0.73rem;
 font-weight: bold;
}
span.f_Lijst /* Lijst */
{
}
span.f_LijstinLijst /* Lijst in Lijst */
{
}
span.f_Notes /* Notes */
{
}
span.f_TableContents /* Table Contents */
{
 font-size: 0.73rem;
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0.6250rem 0 0 0;
}
.p_CodeExample /* Code Example */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 margin: 0 0 0 1.3125rem;
}
.p_CodeExampleInRegel /* Code Example In Regel */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 margin: 0 0 0 1.3125rem;
}
.p_Comment /* Comment */
{
 font-size: 1.00rem;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 background: #ffffff;
 padding: 0 0 0 0;
 margin: 0.6250rem 0 0 0;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0.8750rem 0 0 0;
}
.p_Heading3 /* Heading3 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 page-break-after: avoid;
 padding: 0 0 0 0;
 margin: 1.1875rem 0 0 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 0.73rem;
}
.p_Lijst /* Lijst */
{
 font-size: 1.00rem;
 margin: 0.1250rem 0 0.1250rem 0;
}
.p_LijstinLijst /* Lijst in Lijst */
{
 font-size: 1.00rem;
 margin: 0.1250rem 0 0.1250rem 3.0000rem;
}
.p_Notes /* Notes */
{
 font-size: 1.00rem;
}
.p_TableContents /* Table Contents */
{
 font-size: 0.73rem;
 margin: 0 0 0 0;
}
/* Table styles */
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }

a.imagetogglelink {
  position: relative;
  display: inline-block;
}
svg.image-toggle-magnifier { /* Magnifier icon for image toggles */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40pt;
  height: 40pt;
  max-width: 80%;
  max-height: 80%;
  fill: #FFFFFF;
  stroke: #808080;
  stroke-width: 0.5pt;
  opacity: 0.3;
  transition: opacity 0.3s;
}
img.image-toggle:hover + svg.image-toggle-magnifier, svg.image-toggle-magnifier:hover {
  opacity: 1;
}



#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3 }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3 }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
