/* Reset Styles for Consistency */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 100%;
	font-family: Arial, sans-serif;
	overflow: hidden;
	color: #000000;
	background-color: #ffffff;
	 }
div#hmpageheader {
	position: absolute;
	top: 0.313rem; left: 0.313rem; right: 0.313rem;
	background-color: transparent;
	}
div#hmpagebody {
	position: absolute;
	top: 0.25rem; left: 0.2rem; right: 0rem; bottom: 0.2rem;
	overflow-y: auto;
	overflow-x: hidden;
	border-style: solid;
	border-color: transparent;
	border-width: thin;
	background-color: transparent;
	border-radius: 0 0 0 0;
	padding: 0.313rem 0 0.313rem 0.8rem;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	}

/* General */
.desktop {
	display: none !important;
	}
.tablet {
	display: none !important;
}
.desk_tablet {
	display: none !important;
	}
.noscript { 
	display: none !important;
	}
.scripted {
	
	}
.phone {
	
	}
br { display: none;}
.submit { font-size: 0.95rem; margin-bottom: 0.5rem; }
.highlight { background-color: #888888; color: #ffffff; }
.searchheading { margin-top: 0.5rem; font-size: 0.95rem; font-weight: bold; }
.summary { margin-top: 0.5rem; font-size: 0.950rem; font-style: italic; }
.cat_summary { font-size: 0.95rem; margin-top: 0.5rem; font-weight: bold; }
.cat_summary ul { margin: 0; padding: 5px 0 8px 0; }
.cat_summary li {font-weight: normal; display: inline; padding-right: 0.7rem;}
.cat_summary a:link {color: black; text-decoration: underline;}
.cat_summary a:visited {color: black;}
.cat_summary a:hover { color: black; }
.results { font-size: 0.950rem;  background-color: #ffffff;clear: both; }
.description { font-size: 0.75rem;  color: #000000; font-style: italic; }
.context { font-size: 0.75rem; }
.result_title { font-size: 0.950rem; font-weight: bold; color: #000000;}
.result_title a:link {color: #000000; border-bottom: thin dotted #000000; text-decoration: none;} 
.result_title a:visited {color: #000000;} 
.result_title a:active {background: #c7c7c7; color: #363636; border: none;} 
.infoline { font-size: 0.850rem; font-style: normal; color: #fafafa; }
.category { font-size: 0.70rem; color: #808080; }
.suggestion { font-size: 0.85rem; color: #444444; }
.suggestion a:link { color: #444444; }
.suggestion a:visited { color: #444444; }
.suggestion a:hover { color: #444444; }
.sorting { font-size: 0.950rem; color: #444444; padding: 0.5rem 0.2rem 0 0; float: right; margin-bottom: 1rem; }
.sorting a:link { color: #444444; font-weight: bold;}
.sorting a:visited { color: #444444;}
.zoom_categories { display: block; margin-top: 0.5rem; font-size: 0.950rem; }
.zoom_categories ul { display: inline; margin: 0; padding: 0;}
.zoom_categories li { display: inline; margin-left: 0rem; list-style-type: none; }
.zoom_daterange { display: none; }
.zoom_ac_item { font-family: Arial, sans-serif; font-size: 0.85rem;}
.result_image { float: left; display: block; }
.result_image img { margin: 0; padding: 0 0.625rem 0 0; width: 5rem; border: 0; }
.result_block { margin-top: 0.938rem; margin-bottom: 0.938rem; clear: left; }
.result_altblock { margin-top: 0.938rem; margin-bottom: 0.938rem; clear: left; }
.result_pages { font-weight: bold; font-size: 1rem; color: #444444; background-color: transparent; margin-bottom: 1rem; }
.result_pages a:link { color: #444444;}
.result_pages a:visited { color: #444444;}
.result_pagescount { display: none; }
.searchtime { display: none; } 
.recommended {
	background: transparent;
	border-top: 0.063rem dotted #808080;
	border-bottom: 0.063rem dotted #808080;
	margin-top: 0.5rem;
	margin-bottom: 0;
	font-size: 0.8rem;
	clear: left;
 }
 .recommend_image { float: left; }
.recommended img { max-width: 5rem; margin-right: 0.3rem; }
.recommended_heading { float: right; font-weight: bold; padding-right: 0.5rem; }
.recommend_block { margin-top: 0.2rem; margin-bottom: 0.2rem; clear: left; }
.recommend_title { padding: 0; margin: 0; }
.recommend_title a:link { color: #000000; text-decoration: underline; }
.recommend_title a:visited { color: #000000; }
.recommend_title a:hover {  }
.recommend_description { color: #808080; }
.recommend_infoline { font-style: normal; color: #808080;}
.recommend_infoline:after { display: block; clear: both; content: ""; }

/** SEARCH FORM LAYOUT **/  
	input.zoom_searchbox { 
		display: inline-block;
		width: 70% !important;
		font-size: 0.95rem;
		}
   input.zoom_button { 
	   display: inline-block;
	   font-size: 0.95rem;
	   margin-left: 0.3rem;
	   margin-bottom: 0.5rem;
	   }
   .zoom_results_per_page {
		display: inline-block;
		width: 30%;
		border-right: thin solid black;
		font-size: 0.950rem;
		}
   .zoom_match {
		display: inline-block;
		width: 65%;
		padding-left: 0.3rem;
		font-size: 0.950rem;
		}
	.radio_input { 
		display: inline-block;
		cursor: pointer;
		}

/* Narrow Pane */
@media screen and (max-width: 22.999rem ) {
	input.zoom_searchbox {
		width: calc(100% - 1.8em) !important;
		display: block;
		margin-bottom: 0.5rem;
		}
	input.zoom_button {
		display: block;
		margin-left: auto;
		margin-right: 0.5rem;
		}
	label.zoom_and_class { 
		display: block;
		}
.zoom_results_per_page {
	display: block;
	width: 100%;
	border-right: none;
	padding: 0 0.5rem 0.154rem 0;
		}
.zoom_match {
		display: block;
		width:100%;
		padding-left: 0;
		}
	
	}

/* Wider Pane */	
 	@media screen and (min-width: 23.0rem) {
		input.zoom_searchbox {
			width: calc(100% - 15em) !important;
		}
		input.zoom_button {
		display: inline-block;
		margin: 0 0 0.5rem 0.2rem;
		}
		.zoom_results_per_page { 

		}
		label.zoom_and_class { 
		display: inline-block;
		}
	}
