 /* Main Help & Manual WebHelp Page Layout CSS
	 Copyright (c) by Tim Green 2015-2020. All rights reserved. Contact: tg@it-authoring.com
*/
/* Reset Styles for Consistency */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


html, body { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 100%;
	background-color: #ffffff;
	background-image: url("../images/spacer.gif");
	background-position: left top;
	background-repeat: repeat;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	}

div#helpwrapper {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	min-width: 230px;
	margin: 0 auto 0 auto;
	z-index: 0;
	overflow: hidden;
}

div#pagewrapper {
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	padding:0;
	min-width: 230px;
	background-color: transparent;
	}

/* NAV */

/* Navigation Tabs */


nav#navpane_tabs {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #48aef2;
}

ul.tabs {
	display: block;
	list-style:none;
	margin: 0;
	padding-top: 0.3rem;
	padding-left: 0.2rem;
	padding-bottom: 0.5rem;
	white-space: nowrap;
	font-size: 1.095rem;
	}

/* Non Current Tabs */
li.hmtabs {
	display: inline-block;
	text-indent:0;
	list-style-image:none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	}
li.hmtabs:first-child {
	margin-left: 0;
	}
li.hmtabs a {
	color: #bde5ff;
	text-decoration: none;
	padding: 0.25rem 0.25rem 1rem 0.25rem;
	margin-right: 0rem;
	font-weight: 600;
	}
li.hmtabs a span {
	-webkit-user-select: none; 
	}
li.hmtabs svg.tocicon {
	width: 1.1rem;
	height: 1.1rem;
	color: #bde5ff;
	fill: #bde5ff;
	margin-bottom: -0.15rem;
	}
li.hmtabs span {
	display: inline;
	margin-left: 0.2rem;
	}

/* Current Tab */ 
li.hmtabs.current {
	background-color: transparent;
	}
li.hmtabs.current a {
    background-color: transparent;
    }
li.hmtabs.current a, li.hmtabs.current svg.tocicon {
	color: #ffffff;
	fill: #ffffff;
	}



/* General */
.desktop {
	display: none !important;
	}
.tablet {

	}
.phone {
	display: none !important;
	}
.desk_tablet {

	}
.noscript { 
	display: none !important;
	}
.scripted {
	
	}

/* Header Area */
div#headerbox_wrapper {
	position: absolute;
	top: 0.0rem;
	left: 0rem; right: 0rem;
	overflow: visible;
	z-index: 1000;
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("../images/doc-bg.jpg");
	background-color: transparent;
}
div#headerbox {
	position: relative;
	
	height: 5.5rem;
	padding: 0;
	margin: 0;
	z-index: 0;
	} 
div#headerwrapper {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	margin: 0; padding: 0;
	border: none;
	border-bottom: thin solid #888888;
	}
a#headerlogo {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 0.25rem; left: 0.5rem;
	height: 80%; width: 5.8rem;
	background-image: url('../images/invantive-logo-197x115.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left top;
	}
h1.page_header {
	font-family: Arial, sans-serif;
	color: #444444;
	text-align: center;
	font-size: 1.8rem;
	padding: 0.1rem 0.5rem;
	font-weight: bold;
	white-space: nowrap;
	margin-left: 17%; margin-right: 17%;
	width: 65%;
	max-width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
	}
	
/* Drop-down menus in page header */

/* Version for menus in main page header */
div#header_menu {
	overflow: auto;
	background-color: transparent;
	overflow: visible;
	font-family: Arial, sans-serif;
	font-size: 0.900rem;
	}
	/* Topnav is the main menu row */
ul.topnav {
	position: absolute;
	display: block;
	clear: both;
	left: 0; right: 0; bottom: 0;
	text-align: center;
	list-style: none;
	white-space: nowrap;
	background-color: transparent;
	z-index: 901;
	}
ul.topnav li {
	text-align: left;
}

ul.topnav > li {
	display: inline-block;
	height: 1.8rem;
	background-color: transparent;
	}
ul.topnav li.header svg.submenu_icon {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	fill: #444444;
	margin-bottom: 0.065rem;
	}
ul.topnav li.headerlink svg.submenu_icon {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	fill: #444444;
	margin-left: 0.5rem;
	margin-bottom: -0.45rem;
}
ul.topnav > li > a {
	padding: 0.300rem 0.325rem;
	font-weight: bold;
	font-size: 1rem;
}
ul.topnav li a {
	text-decoration: none;
	color: #444444;
	display: block;
	cursor: pointer;
	}
ul.topnav li a:visited {
	color: #444444;
	}
ul.topnav > li > a:hover span, ul.topnav > li > a.current span {
	color: #000000;
	text-decoration: underline;
	}
ul.topnav ul.subnav {
	display: none;
	text-align: center;
	list-style: none;
	font-size: 1rem;
	color: #ffffff;
	position: absolute;
	left: 0rem; right: 0rem;
	top:0;
	margin-top: thin;
	min-height: 3rem;
	}
div.subnav-menu {
	padding: 0.5rem;
	border: none;
	margin: 0 auto;
	max-width: 95%;
	box-shadow: 3px 3px 5px #959595;
	background-color: rgba(35,40,45,0.9);
}
div.blockmenu {
	display: inline-block;
	padding: 0 1rem 0 0.5rem;
	background-image: none;
	vertical-align: top;
}
div.blockmenu.image {
	display: inline-block;
	padding: 23px 1rem 0 0.5rem;
	background-position: 5px 0;
	background-repeat: no-repeat;
	background-size:auto 25px;
	vertical-align: top;
}
p.menu-header {
	color: #ffffff;
	font-weight: 600;
	font-size: 1rem;
	margin: 0 0 0.2rem 0;
	padding: 0;
}
p.menu-header.icon {
	background-repeat: no-repeat;
	background-size: 1.3rem;
	background-position: 0 0.1rem;
	padding-left: 1.6rem;
}
p.menu-header.center {
	text-align: center;
}
div.description {
	display: inline-block;
	max-width: 33%;
	height: 100%;
	padding: 0 0.5rem;
	vertical-align: top;
}
p.menu-description {
	white-space: normal;
	margin: 0;
	padding: 0;
	line-height: 110%;
	vertical-align: top;
	color: #ffffff;
}
ul.subnav div.fullmenu {
	width: 100%;
	height: auto;
	padding: 0 1rem;
	text-align: center;
}
ul.subnav div.fullmenu li {
	width: auto; 
	display: inline-block;
	text-align: center;
	margin: 0.5rem;
}

.right-divider {
	border-right: 2px solid #888888;
}
.left-divider {
	border-left: 2px solid #888888;
}

ul.topnav ul.subnav li {
    width: auto;
	}
ul.topnav ul.subnav li.last {
	margin-bottom: 0;
	border-bottom: none;
	}
ul.topnav ul.subnav li a {
	display: block;
	width: auto;
	height: 100%;
	cursor: pointer;
	color: #ffffff;
	background-image: none;
	}
ul.topnav ul.subnav li a.icon {
	background-repeat: no-repeat;
	background-position: 0 0.1rem;
	background-size: 1.2rem;
	padding-left: 1.3rem;
	}
ul.topnav ul.subnav li a:hover {
	color: #ffa500;
	}
ul.topnav ul.subnav li:last a {
	}

@media only screen and (max-width: 950px) {
	p.menu-description, div.menu-image-box {
	display: none;
	}
}
/* Navigation Panes */

/* Main navigation block container */
div#navwrapper {
	position: absolute;
	top:  6rem;
	left: 0.0rem; bottom: 0.0rem;
	padding: 0 0 0 0;
	width: 21.73rem;
	overflow: visible;
	-ms-touch-action: none;
	} 
div#navcontainer {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 2.20rem;
/* First padding value adjusts nav tabs up/down */
	padding: 0.300rem 0 0 0;
	overflow: visible;
	background-color: #f5f5f5;
	box-shadow: 0.1rem 0.1rem 0.5rem #959595;
	z-index: 898;
	}
div#navsplitbar {
	position: absolute;
	top: 1.530rem; right: 0; bottom: 0.157rem;
	width: 2.15rem;
	background: url('../images/spacer.gif');
	cursor: col-resize;
	}
div#dragwrapper, div#toolbutton_wrapper {
	position: absolute;
	right: 0.05rem;
	top: 50%;
	width: 2.0rem;
	height: 2.0rem;
	padding: 0.25rem 0.2rem 0.1rem 0.3rem;
	z-index: 898;
	border-width: thin thin thin 0;
	border-color: transparent;
	border-style: solid;
	border-radius: 0 0.4rem 0.4rem 0;
	background-color: #f5f5f5;
	cursor: ew-resize;
	opacity: 1.0;
	overflow: visible;
	}
div#dragwrapper.over, div#toolbutton_wrapper.over {
	box-shadow: 0.1rem 0.1rem 0.5rem #959595;
}
div#toolbutton_wrapper {
	top: 20%;
}
div#dragwrapper.draghilite {
	border-style: solid;
	border-width: 3px 3px 3px 0;
	border-color: transparent;
}
svg#draghandleicon_l, svg#draghandleicon_r {
	display: none;
	}
svg#draghandleicon_l, svg#draghandleicon_r, svg#toolbar_updown_close, svg#toolbar_updown_open {
	width: 2.5rem;
	height: 2.5rem;
	-ms-touch-action: none;
	margin: 0 0 0 0.2rem;
	opacity: 1.0;
	z-index: 0;
	color: #444444;
	fill: #444444;
	}
div.navbox {
	position: absolute;
	/* Top value adjusts navbox top up/down in top tabs mode (position of tabs in side tab mode) */
top: 2.200rem; left: 0;


	right: 0.3rem; bottom: 0;
	border: 0.154rem solid transparent;
	padding: 0; margin: 0;
	overflow: hidden;
	background-color: transparent;
	-webkit-overflow-scrolling: touch;
	z-index: 1000;
	}
div.navbox.on {
	display: block;
	}
div.navbox.off {
	display: none;
	}
iframe.navframe {
	width:100%;
	height: 100%;
	margin: 0;
	background-color: transparent;
	overflow: hidden;
	}

/* Topic Pane */	
div#topicbox {
	position: absolute;
	background-color: transparent;
	top:  5.5rem;
	right: 0; bottom: 0;
	left: 22rem;
	border: none;
	
	border-left: thin solid transparent;
	padding: 0; margin: 0;
	opacity: 1.0;
	z-index: 1;
	} 
@media only screen and (orientation : portrait) {
	
	div#topicbox {
		position: absolute;
		left: 3.438rem;
		/*top: 5.938;*/
	}
}
div#hmpageheader {
	position: absolute;
	top: 0; left: 0; right: 0;
	font-family: Arial, sans-serif;
	background-color: #48aef2;
	overflow: hidden;
	}
	
div#hmpagebody {
	position: absolute;
	top: 4.063rem; left: 0; right: 0; bottom: 0;
	padding: 0;
	background-color: #ffffff;
	border: none;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	}

/* Feature Image and Description */
div#featureheader {
	position: absolute;
	top: 0; left: 0; right: 0;
	text-align: left;
	overflow:hidden;
	height: auto;
	max-height:60%;
	background-color: #ffffff;
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 99;
	}

div#featureheader p { 
	position: absolute;
	left: 0; bottom: 0; right: 0;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	padding: 1rem; margin: 0;
	background:#000000;
	color: #ffffff;
	filter: alpha(opacity=60);
	opacity: 0.6;
	}

div#hmpagebody_scroller {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	padding: 0.5rem 0.5rem 0.313rem 0;
	overflow-y: scroll;
	overflow-x: auto;
	}	

table#topicheadertable {
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
	background: transparent;
	padding: 0; margin: 0;
	}
table#topicheadertable td {
	
	}
table#topicheadertable tr, table#topicheadertable td{
	/* min-height: 3rem; */
	}

td#topicnavcell {
	outline: 0px solid blue;
	vertical-align: bottom;
	text-align: right;
	margin: 0;
	padding: 0.3rem 1.2rem 0 0;
	}
td#topicnavcell a, td#topicnavcell span {
  white-space: nowrap;
	}
td#topicheadercell {
	vertical-align: middle;
	padding: 0.3rem 0 0 0;
	}
div#topicheaderwrapper {

}
div#topicheaderwrapper span {
	white-space: nowrap;
	}

/* Topic title in topic header*/ 
p.topic_breadcrumbs {
	display: none;
	}

p.topictitle {
	font-family: Arial, sans-serif;
	font-size: 1.3rem;
	font-weight: bold;
	color: #000000;
	margin: 0; padding: 0;
	}	

/* Topic Navigation Section in Topic Header */

a.topicnavlink {
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0.2rem;
	}
a.topicnavlink:active {
	opacity: 1.0;
	background-color: rgba(35,40,45,0.9);
	border-radius: 0.2rem;
}
a.topicnavlink span {
	display: block;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.900rem;
	margin-top: 0.1rem;
	}
a.topicnavlink svg.navicon {
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: -0.2rem;
	color: #ffffff;
	fill: #ffffff;
	}
a.topicnavlink.menu {
	display: inline-block;
}
a.topicnavlink.disabled {
	cursor: default;
	background-color: transparent;
	color: initial;
	opacity: 0.4;
}
a.topicnavlink.disabled svg.navicon {
	fill: #ffffff;
	opacity: 1.0;
}

/* Hamburger Menu in Topic Nav Section */
div#navigationmenu {
	position: absolute;
	display: none;
	z-index: 100;
	top: 3.1rem; right: 2.1rem;
	font-family: Arial, sans-serif;
	background-color: rgba(35,40,45,0.9);
	}
ul#hamburgermenu {
	list-style-type: none;
	width: 100%;
	}
ul#hamburgermenu li {
	font-size: 1rem;
	line-height: 140%;
	color: #ffffff;
	opacity: 1;
	background-color: rgba(35,40,45,0.9);
	border-bottom: thin solid #ffffff;
	padding: 0.4rem;
	margin-left: -1px;
	}
ul#hamburgermenu li svg.hmbicon {
	width: 1.1rem !important;
	height: 1.1rem !important;
	margin: 0 0 -0.2rem 0.15rem;
	color: #ffffff;
	fill: #ffffff;
	}
ul#hamburgermenu li.last {
	border-bottom: none;
	}
ul#hamburgermenu li a {
	display: inline-block;
	padding: 0.125rem;
	padding-left: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	opacity: 1;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
}
ul#hamburgermenu li a:visited {
	color: #ffffff;
	}
ul#hamburgermenu li#toggle_fullscreen {
	display: none;
	}

div.toolwrapper {
	border: 1px solid transparent;
	}
div.toolwrapper.phone {
	display: none;
	}
img.toolimg {
	width: 1rem;
	height: 1rem;
	border: 0;
	margin:  0.1rem 0.1rem 0 0.1rem;
	cursor: pointer;
	}

img#leftright {
	position: absolute;
	right: -60px;
	top: 33%;
	display: none;
	z-index: 2000;
	}

/* Popups */

div.hmpopup {
	margin: 0; padding: 0;
	font-family: Arial, sans-serif;
}

div#hmpopupbox {
	position: absolute;
	display: none;
	border: thin solid #bfbfbf;
	background-color: #ffffff;
	top: 5rem; left: 13rem;
	width: 30rem;
	height: 3.6rem;
	max-width: 60%;
	max-height: 70%;
	box-shadow: 1px 1px 2px 0px #959595;
	z-index: 99999;
	}
div#hmpopuptitlebar {
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 1.5rem;
	background-color: #bfbfbf;
	padding: 0 0.3rem 0.3rem 0;
	color: #444444;
	font-weight: bold;
}
div#hmpopuptitlebar p {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 1.5rem;
	margin: 0 0 0.5rem 0;
	font-size: 1rem;
	text-align: center;
	}
div#hmpopuptitlebar div#hmpopuptitle {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	cursor: move;
	padding-top: 0.15rem;
}
div#hmpopuptitlebar div#hmclosepopup{
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 1.5rem;
	cursor: pointer;
}
div#hmpopuptitlebar div#hmclosepopup span {
	display: block; position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	font-size: 1.2rem;
	text-align: center;
	padding: 0; margin: -0.1rem 0 0 0;
	}
div#hmpopupbody {
	position: absolute;
	top: 1.5rem; left: 0; right: 0; bottom: 0;
	overflow: auto;
	padding: 0.5rem;
	background-color: #ffffff;
	/* padding: 0; */
	-webkit-overflow-scrolling: touch;
	}

/* Mobile Navigation Toolbar and Buttons */	
div#mob_toolbar_wrapper { 
	display: none;
	} 

div#dragsurface {
	position: absolute;
	display: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-image: url("../images/spacer.gif");
	cursor:col-resize;
	z-index: 100000;
	}

.wraptext {
	white-space: normal !important;
	}
p.contents_header {
	margin: 0; padding: 0;
	font-size: 16px;
	font-weight: bold;
	}
div#tapImageWrapper {
	display: none;
	/*-ms-touch-action: none;*/
	}

img#tapImage {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	max-width: 100%;
	}
img.tap-image {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	}

div#ltTableWrapper, div#ltTableNapkin {
	position: absolute;
	background-color: #ffffff;
	z-index: 1000;
	top: 0.1rem; left: 0.1rem; right: 0.1rem; bottom: 0.1rem;
	overflow: auto;
	}
div#ltTableWrapper {
	display: none;
	}
div#ltTableNapkin {
	-webkit-overflow-scrolling: touch;
	padding: 0.2rem;
}
div.openLTable {
	border: 2px solid grey;
	border-radius: 0.3rem;
	padding: 0.1rem 0.3rem;
	font-weight: bold;
	text-align: center;
	}
img#closeLTable {
	position: fixed;
	width: 2rem !important;
	height: 2rem !important;
	top: 1px; left: 1px;
	opacity: 1.0;
	z-index: 1001;
	}
.highlight { background-color: #ffff66; color: #000000; }

 /* Responsive xTables Styles */
div.xtable_datablock {
	width: 100%;
	display: none;
	margin-bottom: 0.5rem;
	}
table.xResponsive tr.phone {
	display: none;
	}
.xResponsive img.responsive {
	width: 100% !important;
	height: auto;
	}
div.xtable_switchwrapper {
	display: table-cell;
	border: 0px solid red;
	
	}
div.xtable_dataiconwrapper {
	display: table-cell;
	height: 100%;
	padding: 0 0.3rem 0 0; margin: 0;
	vertical-align: top;
	border: 0px solid blue;
	}
img.xtable_dataicon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

p.xtable_datatitle {
	font-weight: bold !important;
	font-size: 1rem !important;
	margin-bottom: 0 !important;
	margin-top: 0;
} 

/* Initial state of dropdown and inline text toggles */ 
a.dropdown-toggle[data-state="0"] + div.dropdown-toggle-body { display: none;}
a.inline-toggle + span { padding: 0 0.25rem; }
a.inline-toggle[data-state="0"] + span { display: none; }

/* Auto-TOC for topics */

a#atoclink {
	visibility: hidden;
	}

div#autoTocWrapper {
	position: absolute;
	display: none;
	z-index: 100;
	top: 3.1rem; right: 2.1rem;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border: 0.154rem solid transparent;
	background-color: rgba(35,40,45,0.9);
	border-top-width: 0;
	z-index: 100;
	/*box-shadow: 0.125rem 0.125rem 0.225rem 0.025rem #959595;*/
	}
div#autoTocMiddle, div#autoTocInner {
   padding: 0;
   margin: 0;
   position: relative;
   top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(35,40,45,0.9);
   } 
div#autoTocInner { 
   padding-left: 0.3rem;
   }

div#autoTocWrapper svg.atocicon {
	width: 1.1rem;
	height: 1.1rem;
	margin-bottom: -0.2rem;
	color: #ffffff;
	fill: #ffffff;
}
   
p.autoTOC {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	margin:0; padding:0;
	margin-left: 0.3rem;
	line-height: 150%;
	display: inline-block;
}

p.autoTOC.subTOC {
	font-size: calc(0.963 * 1)rem;
	}
   
#autoTocWrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

#autoTocWrapper ul li.autoTOC {
	padding: 0.4rem;
	padding-left: 0;
	cursor: pointer;
	border-bottom: thin solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	fill: #ffffff;
	font-weight: 600;
}
ul#autoTocList li.autoTOC:last-child { 
	border-bottom: none;
}
#autoTocWrapper li#toplink {
	}
#autoTocWrapper ul li.autoTOC.subTOC {
	padding-left: 1rem;
}
div#atocIcon {
	position: absolute;
	top: 5px;
	right: 20px;
	display: none;
}

 /*** Image toggle box ***/
 
div#imagetogglebox {
	display:none;
	position:fixed;
	background-color: #ffffff;
	border: 0.25rem solid #c0c0c0;
	box-shadow: 0.125rem 0.125rem 0.500rem 0.025rem #959595;
	z-index: 10000;
}
div#imagetogglebox img {
	position: absolute;
	top: 0; left: 0;
	}
div#imagezoom {
	display: none;
	position: absolute;
	top: 5px; left: 5px;
	border: 2px solid red;
	width: 50px; height: 50px;
	}
img#zoomImg {
	position: absolute;
	top: 0; left: 0;
	width: 50px;
	height: 50px;
	display: none;
	}
img#imagezoomer {
	position: absolute;
	top: 0; left: 0;
	cursor: pointer;
	}
div#imagecaptionbox {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	border-top:  4px solid #c0c0c0;
	}
div#imagecaptionbox p.zoomedcaption {
	display: block;
	font-family: Arial, sans-serif;
	color: #888888;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: left;
	}
img.image-toggle, svg.image-toggle-magnifier {
	cursor: pointer;
	}
a.imagetogglelink {
	cursor: default;
	}

/* Footer defined in _topicfooter.html */
div.topicfooter {
   width: 95%;
   margin: 1.25rem auto 0 auto;
   padding: 0 0 0.75rem 0;
   border-style: solid;
   border-width: thin 0 0 0;
   border-color: #888888;
}
p.topicfooter {
	font-family: Arial, sans-serif;
	font-size: 0.7rem;
	color: #888888;
	text-align: center;
	width: 100%;
	padding-top: 0.3125rem;
}
p.topicfooter a {
   color: #888888;
   border-bottom: thin dotted #888888;
   text-decoration: none;
}
p.topicfooter a:visited {
   color: #888888;
}

/* Social sharing popup */
div.sharebox {
	margin: 0.5rem auto 0 auto;
	text-align: center;
	white-space: nowrap;
}
div.sharebox a {
	display: inline-block;
	padding: 0 0.8rem;
	cursor: pointer;
}

 /* Hyperlink colors and behaviors */
a.topiclink {color: blue; text-decoration: underline;}
a.topiclink:visited {color: blue;}
a.topiclink:hover {color: blue; }
a.weblink {color: blue; text-decoration: underline;}
a.weblink:visited {color: blue;}
a.weblink:hover {color: blue; }
a.popuplink {color: blue; text-decoration: underline;}
a.popuplink:visited {color: blue;}
a.popuplink:hover {color: blue; }
a.filelink {color: blue; text-decoration: underline;}
a.filelink:visited {color: blue;}
a.filelink:hover {color: blue; }
a.scriptlink{color: blue; text-decoration: underline;}
a.scriptlink:visited {color: blue;}
a.scriptlink:hover {color: blue;}
a.inline-toggle {color: blue; text-decoration: underline;}
a.inline-toggle:visited {color: blue;}
a.inline-toggle:hover {color: blue; }
a.dropdown-toggle {color: blue; text-decoration: underline;}
a.dropdown-toggle:visited {color: blue;}
a.dropdown-toggle:hover {color: blue; }

/* Special tables for info boxes */
#callout-table, #overview-table {display:block; position:relative; top:0; left:0;}
#callout-icon {display:block; position:absolute; top:-11px; left:-11px;}
#callout-icon-flag {display:block; position:absolute; top:-11px; left:-8px;}
#callout-table a {text-decoration: none; color: blue;}
#callout-table a:visited {text-decoration: none; color: blue;}
#overview-table a {text-decoration: none; color: #000000;}
#overview-table a:visited {text-decoration: none; color: #000000;} 

/* SVG Sprite Visibility */
.svgsprite {
	display: inline !important;
	}

/* Layout of printable version for browser print function */
@media only print {
	
	body, div#pagewrapper {
		background-color: transparent !important;
		background-image: none !important;
	}
	
	a#headerlogo, div#headerwrapper, div#headerbox_wrapper, div#navwrapper, p#ptopic_breadcrumbs, td#topicnavcell, img.dropdown-toggle-icon, div#navigationmenu, div#unclicker, div.topicfooter {
		display: none !important;
	}
	p.topictitle {
		background-color: transparent !important;
		color: #000000 !important;
		font-size: 1.3rem !important;
		padding: 0 !important; margin: 0 !important;
	}
	div.dropdown-toggle-body {
		display: block !important;
	}
	table#topicheadertable, table#topicheadertable td, td#topicheadercell, div#hmpageheader, div#topicheaderwrapper {
		padding: 0 !important; margin: 0 !important;
		background: transparent !important;
	}	
	div#hmpageheader, div#topicheaderwrapper {
		padding: 0 !important; margin: 0 !important;
	}
	html, body, div#topicbox, div#topicbody {
		display: block !important;
		position: absolute;
		top: 0 !important; right: 0 !important; left: 0 !important; bottom: auto !important;
	}
	div#hmpageheader {
		position: relative;
		top: 0 !important; right: 0 !important; left: 0 !important;
	}
	
	div#hmpagebody {
		display: block !important;
		position: relative !important;
		top: 1rem !important; right: 0 !important; left: 0 !important; bottom: auto !important;
		overflow: visible;
		padding: 0 !important; margin: 0 !important;
	}
	
	
	div#pagewrapper, div#hmpagebody, div#hmpagebody_scroller, div#topicbody, div#topicbox {
		
		overflow: visible !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
		border: none !important;
		bottom: auto !important;
		margin: 0 !important; padding: 0 !important;
	}

}
