 /* Main Help & Manual WebHelp Page Layout CSS
	 Copyright (c) by Tim Green 2015-2020. All rights reserved. Contact: tg@it-authoring.com
*/
/* Reset Styles for Consistency */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { overflow: hidden; }
body {
	background-color: #9ccfe7;
	background-image: url("../images/spacer.gif");
	background-position: left top;
	background-repeat: repeat;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	}

input[type=button].weblink {
  background:#58b100;
  border-bottom:4px solid green;
  border-top:0;
  border-left: 0;
  border-right:0;
  color:white;
  padding:5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

div#helpwrapper {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	min-width: 230px;
	max-width: 960px;
	margin: 20px auto 20px auto;
	z-index: 0;
	overflow: hidden;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
        border: 5px solid #fff;
}

div#pagewrapper {
	position:absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	padding: 0;
	background-color: #ffffff;
	background-size: contain;
	border-width: 0 thin;
	}

/* NAV */

/* Navigation Tabs */


nav#navpane_tabs {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #48aef2;
}

ul.tabs {
	display: block;
	list-style:none;
	margin: 0;
	padding-top: 0.3rem;
	padding-left: 0.2rem;
	padding-bottom: 0.5rem;
	white-space: nowrap;
	font-size: 1rem;
	}

/* Non Current Tabs */
li.hmtabs {
	display: inline-block;
	text-indent:0;
	list-style-image:none;
	padding: 0; 
	margin: 0;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	}
li.hmtabs:first-child {
	margin-left: 0;
	}
li.hmtabs a {
	color: #bde5ff;
	text-decoration: none;
	padding: 0.25rem;
	margin-right: 0rem;
	outline: none;
}
li.hmtabs svg.tocicon {
	width: 1.1rem;
	height: 1.1rem;
	color: #bde5ff;
	fill: #bde5ff;
	margin-bottom: -0.18rem;
	margin-right: -0.1rem;
	}
li.hmtabs span {
	display: inline;
	margin-left: 0.4rem;
	}

li.hmtabs:hover svg.tocicon, li.hmtabs:hover a {
	color: #ffffff;
	fill: #ffffff;
	}

/* Current Tab */ 
li.hmtabs.current {
	background-color: transparent;
	cursor: default;
	}
li.hmtabs.current a, li.hmtabs.current svg.tocicon {
	color: #ffffff;
	fill: #ffffff;
	cursor: pointer;
	}



/* General */
.desktop {

	}
.tablet {
	display: none !important;
	}
.phone {
	display: none !important;
	}
.desk_tablet {

	}
.noscript { 
	display: none !important;
	}
.scripted {
	
	}

/* Header Area */
div#headerbox_wrapper {
	position: absolute;
	top: 0.0rem;
	left: 0rem; right: 0rem;
	overflow: visible;
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("../images/doc-bg.jpg");
	background-color: transparent;
}
div#headerbox {
	position: relative;
	height: 5.5rem;
	min-width: 25rem;
	margin: 0;
	overflow: visible;
	} 
div#headerwrapper {
	position: absolute;
	/*top: 0;*/ bottom: 0; right: 0; left: 0;
	margin: 0; padding: 0;
	border: none;
	}
a#headerlogo {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 0.2rem; left: 0.5rem;
	height: 70%; width: 14rem;
	max-height: 4.5rem;
	background-image: url('../images/invantive-logo-197x115.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left top;
	}
h2.page_header {
	font-family: Arial, sans-serif;
	color: #1a79bb;
	text-align: center;
	font-size: 1.8rem;
	padding: 0;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 background: rgba(255, 255, 255, .5);
 display: flex;
 align-items: center;
 justify-content: center;
 position:relative;
}
h2.page_header img {
  margin-right: 5px;
  width: 24px;
}

/* Drop-down menus in page header */

/* Version for menus in main page header */
div#header_menu {
	overflow: auto;
	background-color: transparent;
	overflow: visible;
	font-family: Arial, sans-serif;
	font-size: 0.832rem;
	}
	/* Topnav is the main menu row */
ul.topnav {
	position: absolute;
	display: block;
	clear: both;
	left: 0; right: 0; bottom: 0;
	text-align: center;
	list-style: none;
	white-space: nowrap;
	background-color: transparent;
	z-index: 901;
	}
ul.topnav li {
	text-align: left;
}

ul.topnav > li {
	display: inline-block;
	height: 1.8rem;
	background-color: transparent;
	}
ul.topnav li.header svg.submenu_icon {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	fill: #444444;
	margin-bottom: 0.065rem;
	}
ul.topnav li.headerlink svg.submenu_icon {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	fill: #444444;
	margin-left: 0.5rem;
	margin-bottom: -0.45rem;
}
ul.topnav > li > a {
	padding: 0.300rem 0.325rem;
	font-weight: bold;
	font-size: 1rem;
}
ul.topnav li a {
	text-decoration: none;
	color: #444444;
	display: block;
	cursor: pointer;
	}
ul.topnav li a:visited {
	color: #444444;
	}
ul.topnav > li > a:hover span, ul.topnav > li > a.current span {
	color: #000000;
	text-decoration: underline;
	}
	
  /* Subnav is the drop-down menu banner box */
ul.subnav {
	display: none;
	text-align: center;
	list-style: none;
	font-size: 1rem;
	color: #ffffff;
	position: absolute;
    left: 0;
	right: 0.5rem;
	top:5px;
	margin-top: thin;
	min-height: 3rem;
	padding: 0 1rem;
	}
div.subnav-menu {
	padding: 0.5rem;
	border: none;
	margin: 0 auto;
	max-width: 800px;
	box-shadow: 3px 3px 5px #959595;
	background-color: rgba(35,40,45,0.9);
}
div.blockmenu {
	display: inline-block;
	padding: 0 1rem 0 0.5rem;
	background-image: none;
	vertical-align: top;
}
div.blockmenu.image {
	display: inline-block;
	padding: 23px 1rem 0 0.5rem;
	background-position: 5px 0;
	background-repeat: no-repeat;
	background-size:auto 25px;
	vertical-align: top;
}
p.menu-header {
	color: #ffffff;
	font-weight: 600;
	font-size: 1rem;
	margin: 0 0 0.2rem 0;
	padding: 0;
}
p.menu-header.icon {
	background-repeat: no-repeat;
	background-size: 1.3rem;
	background-position: 0 0.1rem;
	padding-left: 1.6rem;
}
p.menu-header.center {
	text-align: center;
}
div.description {
	display: inline-block;
	max-width: 33%;
	height: 100%;
	padding: 0 0.5rem;
	vertical-align: top;
}
p.menu-description {
	white-space: normal;
	margin: 0;
	padding: 0;
	line-height: 110%;
	vertical-align: top;
	color: #ffffff;
}
ul.subnav div.fullmenu {
	width: 100%;
	height: auto;
	padding: 0 1rem;
	text-align: center;
}
ul.subnav div.fullmenu li {
	width: auto; 
	display: inline-block;
	text-align: center;
	margin: 0.5rem;
}

.right-divider {
	border-right: 2px solid #888888;
}
.left-divider {
	border-left: 2px solid #888888;
}

ul.topnav ul.subnav li {
    width: auto;
	}
ul.topnav ul.subnav li.last {
	margin-bottom: 0;
	border-bottom: none;
	}
ul.topnav ul.subnav li a {
	display: block;
	width: auto;
	height: 100%;
	cursor: pointer;
	color: #ffffff;
	background-image: none;
	}
ul.topnav ul.subnav li a.icon {
	background-repeat: no-repeat;
	background-position: 0 0.1rem;
	background-size: 1.2rem;
	padding-left: 1.3rem;
	}
ul.topnav ul.subnav li a:hover {
	color: #ffa500;
	}
ul.topnav ul.subnav li:last a {
	}

@media only screen and (max-width: 950px) {
	ul.subnav div.description, div.menu-image-box {
	display: none;
	}
	div.subnav-menu {
		max-width: 450px;
	}
	ul.subnav div.fullmenu li {
		display: block;
		text-align: left;
		max-width: 150px;
		margin: 0.5rem auto;
	}
	div.blockmenu, div.blockmenu.image {
		display: block;
		text-align: left;
		max-width: 200px;
		border: none;
		margin: 0.5rem auto;
	}
}
	
/* Navigation Panes */

/* Main navigation block container */
div#navwrapper {
	position: absolute;
	top:  6rem;
	left: 0.0rem; bottom: 0.0rem;
	padding: 0 0 0 0;
	width: 20.000rem;
	overflow: visible;
	-ms-touch-action: none;
	} 
div#navcontainer {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 1.75rem;
	/* First padding value adjusts nav tabs up/down */
	padding: 0.313rem 0 0 0;
	overflow: visible;
	background-color: #f5f5f5;
	box-shadow: 0.1rem 0.1rem 0.5rem #959595;	
	z-index: 898;
	}
div#navsplitbar {
	position: absolute;
	top: 1.530rem; right: 0; bottom: 0.157rem;
	width: 2rem;
	background: url('../images/spacer.gif');
	cursor: col-resize;
	}
div#dragwrapper, div#toolbutton_wrapper {
	position: absolute;
	display: initial;
	right: 0.2rem;
	top: 30%;
	width: 1.4rem;
	height: 1.4rem;
	padding: 0 0.1rem 0.25rem 0;
	border-width: thin thin thin 0;
	border-color: transparent;
	border-style: solid;
	border-radius: 0 0.4rem 0.4rem 0;
	background-color: #ffffff;
	cursor: ew-resize;
	opacity: 1.0;
	z-index: 20;
	}
div#toolbutton_wrapper {
	top: 20%;
}
div#toolbutton_wrapper:hover {
	cursor: ns-resize;
}
div#dragwrapper.over, div#toolbutton_wrapper.over {
	box-shadow: 0.1rem 0.1rem 0.5rem #959595;
}
svg#draghandleicon_l, svg#draghandleicon_r {
	display: none;
	}
svg#draghandleicon_l, svg#draghandleicon_r, svg#toolbar_updown_close, svg#toolbar_updown_open {
	width: 2.2rem;
	height: 2.2rem;
	-ms-touch-action: none;
	margin: auto 0 auto auto;
	opacity: 1.0;
	z-index: 0;
	color: #444444;
	fill: #444444;
	}
div.navbox {
	position: absolute;
	/* Top value adjusts navbox top up/down in top tabs mode (position of tabs in side tab mode) */
top: 2.200rem; left: 0;


    right: 0; bottom: 0;
	border: none;
	padding: 0; margin: 0;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0.09rem 0.085rem 0.2rem #959595;
	-webkit-overflow-scrolling: touch;
	z-index: 1000;
	}
div.navbox.on {
	display: block;
	}
div.navbox.off {
	display: none;
	}
iframe.navframe {
	width:100%; 
	height: 100%; 
	margin: 0;
	background-color: #f5f5f5; 
	overflow: hidden;
	}

/* Topic Pane */	
div#topicbox {
	position: absolute;
	background-color: transparent;	
	
	top:  6rem;
	right: 0; bottom: 0;
	left: 20.3rem;
	border: none;
	
	border-left: thin solid transparent;
	padding: 0; margin: 0;
	z-index: 1;
	} 
div#hmpageheader {
	position: absolute;
	top: 0; left: 0; right: 0;
	font-family: Arial, sans-serif;
	background-color: #48aef2;
	overflow: hidden;
	}
	
div#hmpagebody {
	position: absolute;
	top: 3rem; left: 0; right: 0; bottom: 0;
    padding: 0;
	background-color: #ffffff;
	border: none;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	}

/* Feature Image and Description */
div#featureheader {
	position: absolute;
	top: 0; left: 0; right: 15px;
	text-align: left;
	overflow:hidden;
	border: none;
	height: auto;
	max-height:60%;
	background-color: #ffffff;
	background-position: left top;
	background-size: 100%;
	background-repeat: no-repeat;
z-index: 98;
	}
/* Edge used to have narrower scrollbars, this adjusts if necessary */
_:-ms-lang(x), _:-webkit-full-screen, div#featureheader { 
  right: 18px;
}
div#featureheader p {
	position: absolute;
	left: 0; bottom: 0; right: 0;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	min-width: 12rem;
	padding: 0.3rem 1rem 0.6rem 1rem;
	margin: 0;
	background: #000000;
	color: #ffffff;
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	}
div#hmpagebody_scroller {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	padding: 0.5rem 0.5rem 0.313rem 0;
	overflow-y: scroll;
	overflow-x: auto;
	}	

table#topicheadertable {
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
	background: transparent;
	padding: 0; margin: 0;
	}
table#topicheadertable td {
	
	}
table#topicheadertable tr, table#topicheadertable td{
	/* min-height: 3rem; */
	}

td#topicnavcell {
	outline: 0px solid blue;
	vertical-align: bottom;
	text-align: right;
	margin: 0;
	padding: 0.3rem 1.2rem 0 0;
	}
td#topicnavcell a, td#topicnavcell span {
  white-space: nowrap;
	}
td#topicheadercell {
	vertical-align: middle;
	padding: 0.3rem 0 0 0;
	}
div#topicheaderwrapper {
	
}
div#topicheaderwrapper span {
	white-space: nowrap;
	}

/* Topic title in topic header*/ 
p.topic_breadcrumbs {
	font-size: 0.75rem;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	color: #ffffff;
	margin: 0 0 0 10px; padding: 0;
	}
p.topic_breadcrumbs a:link, p.topic_breadcrumbs span {
	color: #ffffff;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	opacity: 0.7;
	margin-bottom: -0.5rem;
	border-bottom: thin dotted #000000;
	}
p.topic_breadcrumbs span {
	border-bottom: none;
	}
p.topic_breadcrumbs a:visited {
	color: #000000;
	}
p.topic_breadcrumbs a:hover {
	border-bottom: thin dashed #000000;
	opacity: 1.0;
	}
h1.topictitle {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 0 10px; padding: 0;
	}	

/* Topic Navigation Section in Topic Header */

a.topicnavlink {
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0.2rem;
	}
a.topicnavlink:hover {
	opacity: 1.0;
	background-color: #f5f5f5;
	border-radius: 0.2rem;
}
a.topicnavlink span {
	display: block;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.832rem;
	margin-top: 0.1rem;
	}
a.topicnavlink svg.navicon {
	width: 1.1rem;
	height: 1.1rem;
	margin-bottom: -0.2rem;
	color: #ffffff;
	fill: #ffffff;
}
a.topicnavlink:hover span, a.topicnavlink:hover svg.navicon {
	color: #000000;
	fill: #000000;
	}
a.topicnavlink.menu {
	display: inline-block;
}
a.topicnavlink.disabled, a.topicnavlink.disabled:hover {
	cursor: default;
	background-color: transparent;
	color: #ffffff;
	opacity: 0.5;
}
a.topicnavlink.disabled svg.navicon {
	fill: #ffffff;
	opacity: 0.5;
}

/* Hamburger Menu in Topic Nav Section */
div#navigationmenu {
	position: absolute;
	display: none;
	z-index: 100;
	top: 3.1rem; right: 2.1rem;
	font-family: Arial, sans-serif;
	background-color: rgba(35,40,45,0.9);
	/*box-shadow: 0.125rem 0.125rem 0.500rem 0.025rem #959595;*/
	}
ul#hamburgermenu {
	list-style-type: none;
	width: 100%;
	}
ul#hamburgermenu li {
	color: #ffffff;
	opacity: 1;
	background-color: rgba(35,40,45,0.9);
	border-bottom: thin solid #ffffff;
	width: 100%;
	}
ul#hamburgermenu li svg.hmbicon {
	width: 1rem !important;
	height: 1rem !important;
	margin: 0 0 -0.2rem 0.4rem !important;
	color: #ffffff;
	fill: #ffffff;
	}
ul#hamburgermenu li.last {
	border-bottom: none;
	}
ul#hamburgermenu li:hover {
	background-color: rgba(35,40,45,0.9);
	opacity: 1.0;
	cursor: pointer;
	}
ul#hamburgermenu li a {
	display: inline-block;
	padding: 0.500rem 0.250rem 0.500rem 0.250rem;
	font-family: Arial, sans-serif;
	font-size: 0.832rem;
	opacity: 1;
	color: #ffffff;
	line-height: 100%;
	text-decoration: none;
}

ul#hamburgermenu li a:last-child {
	padding-right: 1rem;
	}
ul#hamburgermenu li a:visited {
	color: #ffffff;
	}
ul#hamburgermenu li:hover a {
	color: #ffa500;
	cursor: pointer;
	}
ul#hamburgermenu li:hover svg.hmbicon {
	fill: #ffa500;
	}
ul#hamburgermenu li#toggle_fullscreen {
	display: none;
	}

div.toolwrapper {
	border: 1px solid transparent;
	}
div.toolwrapper:hover {
	background-color: #cacaca;
	}
div.toolwrapper.phone {
	display: none;
	}
img.toolimg {
	width: 1rem;
	height: 1rem;
	border: 0;
	margin:  0.1rem 0.1rem 0 0.1rem;
	cursor: pointer;
	}

img#leftright {
	position: absolute;
	right: -60px;
	top: 33%;
	display: none;
	z-index: 2000;
	}

/* Popups */

div.hmpopup {
	margin: 0; padding: 0;
	font-family: Arial, sans-serif;
}

div#hmpopupbox {
	position: absolute;
	display: none;
	border: thin solid #bfbfbf;
	background-color: #ffffff;
	top: 5rem; left: 13rem;
	width: 30rem;
	min-width: 15rem;
	height: 3.6rem;
	min-height: 3.6rem;
	max-width: 80%;
	max-height: 80%;
	box-shadow: 1px 1px 2px 0px #959595;
	z-index: 99999;
	}
div#hmpopuptitlebar {
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 1.5rem;
	background-color: #bfbfbf;
	padding: 0 0.3rem 0.3rem 0;
	color: #444444;
	font-weight: bold;
}
div#hmpopuptitlebar p {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 1.5rem;
	margin: 0 0 0.5rem 0;
	font-size: 1rem;
	text-align: center;
	}
div#hmpopuptitlebar div#hmpopuptitle {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	cursor: move;
	padding-top: 0.15rem;
}
div#hmpopuptitlebar div#hmclosepopup {
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 1.5rem;
	cursor: pointer;
}
div#hmpopuptitlebar div#hmclosepopup span {
	display: block; position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	font-size: 1.2rem;
	text-align: center;
	padding: 0; margin: -0.1rem 0 0 0;
	}
div#hmpopuptitlebar div#hmclosepopup:hover {
	color: #ffffff;
	background-color: #ff0000;
	}
div#hmpopupbody {
	position: absolute;
	top: 1.5rem; left: 0; right: 0; bottom: 0;
	overflow: auto;
	padding: 0.5rem;
	background-color: #ffffff;
	-webkit-overflow-scrolling: touch;
	}

/* Mobile Navigation Toolbar and Buttons */	
div#mob_toolbar_wrapper { 
	display: none;
	} 

div#dragsurface {
	position: absolute;
	display: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-image: url("../images/spacer.gif");
	cursor:col-resize;
	z-index: 100000;
	}

.wraptext {
	white-space: normal !important;
	}
p.contents_header {
	margin: 0; padding: 0;
	font-size: 16px;
	font-weight: bold;
	}
div#tapImageWrapper {
	display: none;
	/*-ms-touch-action: none;*/
	}

img#tapImage {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	}
img.tap-image {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	}

div#ltTableWrapper {
	display: none;
	position: absolute;
	background-color: #ffffff;
	z-index: 10000;
	top: 0; left: 0;
	}
img#closeLTable {
	position: absolute;
	top: 0.313rem; left: 0.313rem;
	}
.highlight { background-color: #ffff66; color: #000000; }

/* Permalink Popup */

input#bookmarkPermalink {
	float: right;
	margin-right: 5px;
	}
p.permalink_info {
	margin:  0 5px 5px 5px;
	width: 60%;
	float: left;
	font-weight: bold;
	color: #707070;
}
textarea#plinkBox {
	clear: both;
	margin-left: 3px;
	}

/*** Image toggle box ***/

div#imagetogglebox {
	display:none;
	position:fixed;
	background-color: #ffffff;
	border: 0.25rem solid #c0c0c0;
	box-shadow: 0.125rem 0.125rem 0.500rem 0.025rem #959595;
	z-index: 10000;
}
div#imagetogglebox img {
	position: absolute;
	top: 0; left: 0;
	}
div#imagezoom {
	display: none;
	position: absolute;
	top: 5px; right: 5px;
	width: 50px; height: 50px;
	}
img#imagezoomer {
	position: absolute;
	top: 0; left: 0;
	cursor: pointer;
	}
div#imagecaptionbox {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	border-top:  4px solid #c0c0c0;
	}
div#imagecaptionbox p.zoomedcaption {
	display: block;
	font-family: Arial, sans-serif;
	color: #888888;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: left;
	}
img.image-toggle, svg.image-toggle-magnifier {
	cursor: pointer;
	}
a.imagetogglelink {
	cursor: default;
	}

/* Social Sharing */
div.sharebox {
	margin: 0.5rem auto 0 auto;
	text-align: center;
	white-space: nowrap;
}
div.sharebox a {
	display: inline-block;
	padding: 0 0.8rem;
	cursor: pointer;
}
	
/* Initial state of dropdown and inline text toggles */ 
a.dropdown-toggle[data-state="0"] + div.dropdown-toggle-body { display: none;}
a.inline-toggle + span { padding: 0 0.25rem; }
a.inline-toggle[data-state="0"] + span { display: none; }

/* Auto-TOC for topics */

a#atoclink {
	visibility: hidden;
	}

div#autoTocWrapper {
	position: absolute;
	display: none;
	top: 3.1rem; right: 2.1rem;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border: 0 solid transparent;
	background-color: rgba(35,40,45,0.9);
	border-top-width: 0;
	z-index: 100;
	/*box-shadow: 0.125rem 0.125rem 0.225rem 0.025rem #959595;*/
	}
div#autoTocMiddle, div#autoTocInner {
   padding: 0;
   margin: 0;
   } 
div#autoTocWrapper svg.atocicon {
	width: 1rem;
	height: 1rem;
	margin-bottom: -0.154rem;
	color: #ffffff;
	fill: #ffffff;
}
p.autoTOC {
	font-family: Arial, sans-serif;
	font-size: 0.832rem;
	color: #ffffff;
	margin: 0; padding: 0 0.2rem 0 0;
	line-height: 150%;
	display: inline-block;
	}
p.autoTOC:hover {
	color: #ffa500;
	}
p.autoTOC.subTOC {
	font-size: calc(0.963 * 0.832)rem;
	}
   
ul#autoTocList {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	background-color: rgba(35,40,45,0.9);
	}
li.autoTOC span {
	display: inline-block;
	width: 1.5rem;
	text-align: center;
	}
ul#autoTocList li.autoTOC {
	color: #ffffff;
	padding: 0.25rem 0.250rem 0.25rem 0.2rem;
	cursor: pointer;
	border-bottom: thin solid #ffffff;
	background-color: transparent;
	opacity: 1;
	}
ul#autoTocList li.autoTOC:last-child { 
	border-bottom: none;
	}
ul#autoTocList li.autoTOC.subTOC {
	padding-left: 1rem;
	}
ul#autoTocList li:hover {
	color: #ffa500;
	background-color: rgba(35,40,45,0.9);
	opacity: 1.0;
	}
ul#autoTocList li:hover p.autoTOC {
	color: #ffa500;
	}
ul#autoTocList li:hover svg.atocicon {
	fill: #ffa500;
	}
div#atocIcon {
	position: absolute;
	top: 5px;
	right: 20px;
	display: none;
}

/* Footer defined in _topicfooter.html */
div.topicfooter {
   width: 95%;
   margin: 1.25rem auto 0 auto;
   padding: 0 0 0.75rem 0;
   border-style: solid;
   border-width: thin 0 0 0;
   border-color: #888888;
}
p.topicfooter {
	font-family: Arial, sans-serif;
	font-size: 0.7rem;
	color: #888888;
	text-align: center;
	width: 100%;
	padding-top: 0.3125rem;
}
p.topicfooter a {
   color: #888888;
   border-bottom: thin dotted #888888;
   text-decoration: none;
}
p.topicfooter a:visited {
   color: #888888;
}
p.topicfooter a:hover {
   color: #000000; 
   border-color: #000000;
   text-decoration: none;
}

/*-----CUSTOM CSS ICONS ---*/

#indextablink .tocicon, #contentstablink .tocicon, #searchtablink .tocicon {
  display: none;
} 

#indextablink:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 350%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 50% 3%;
  opacity: 0.5;
}

#contentstablink:before {
  content:'';
  background: url("../images/documentation-icon-sprite.svg");
  background-size: 350%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 1%;
  opacity: 0.5;
}

#searchtablink:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 100% 2%;
  opacity: 0.5;
}

.current #indextablink:before, .current #contentstablink:before, .current #searchtablink:before {
  opacity: 1;
} 



#topicnavlinkprevious .navicon, #topicnavlinkhome .navicon, #topicnavlinknext .navicon, #hamburgerlink .navicon{
  display: none;
}

#topicnavlinkprevious:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 25%;
}

#topicnavlinkhome:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 50% 25%;
}

#topicnavlinknext:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 100% 25%;
}

#hamburgerlink:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 50%;
}

.xmsgError {
  display: none;
  position: absolute;
  background: white;
  z-index: 1000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid #48aef2;
}

.xmsgError h4 {
  background: #48aef2;
  color: white;
  padding: 5px;
}

.xmsgError .xmsgClose {
  position: absolute;
  right: 10px;
  display: block;
  top: 5px;
}

.xmsgError p {
  padding: 10px;
  margin: 0;
}

.xmsgBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.75;
  height: 100%;
  z-index: 999;
  width: 100%;
}

.forumLink {
  position: absolute;
  right: 5px;
  color: white;
  font-size: 15px;
  padding: 0 10px;
  background: #48aef2;
  box-shadow: 3px 3px 0px rgb(79 105 131);
  text-decoration: none;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

.forumLink:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/knowledge.svg);
  background-size: cover;
  margin-right: 2px;
}

@media only screen and (max-width: 60rem) {
h1.page_header {
	float: right;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
}

/* Hyperlink colors and behaviors */
a.topiclink {color: blue; text-decoration: underline;}
a.topiclink:visited {color: blue;}
a.topiclink:hover {color: blue; }
a.weblink {color: #288ce4; text-decoration: underline;}
a.weblink:visited {color: #828282;}
a.weblink:hover {color: blue; }
a.popuplink {color: blue; text-decoration: underline;}
a.popuplink:visited {color: blue;}
a.popuplink:hover {color: blue; }
a.filelink {color: blue; text-decoration: underline;}
a.filelink:visited {color: blue;}
a.filelink:hover {color: blue; }
a.scriptlink{color: blue; text-decoration: underline;}
a.scriptlink:visited {color: blue;}
a.scriptlink:hover {color: blue;}
a.inline-toggle {color: blue; text-decoration: underline;}
a.inline-toggle:visited {color: blue;}
a.inline-toggle:hover {color: blue; }
a.dropdown-toggle {color: blue; text-decoration: underline;}
a.dropdown-toggle:visited {color: blue;}
a.dropdown-toggle:hover {color: blue; }

/* Special tables for info boxes */
#callout-table, #overview-table {display:block; position:relative; top:0; left:0;}
#callout-icon {display:block; position:absolute; top:-11px; left:-11px;}
#callout-icon-flag {display:block; position:absolute; top:-11px; left:-8px;}
#callout-table a {text-decoration: none; color: blue;}
#callout-table a:visited {text-decoration: none; color: blue;}
#overview-table a {text-decoration: none; color: #000000;}
#overview-table a:visited {text-decoration: none; color: #000000;}
#callout-table a:hover, #overview-table a:hover {text-decoration: underline;}

/* SVG Sprite Visibility */
.svgsprite {
	display: inline !important;
	}

/* Layout of printable version for browser print function */
@media only print {
	
	body, div#pagewrapper {
		background-color: transparent !important;
		background-image: none !important;
	}
	
	a#headerlogo, div#headerwrapper, div#headerbox_wrapper, div#navwrapper, p#ptopic_breadcrumbs, td#topicnavcell, img.dropdown-toggle-icon, div#navigationmenu, div#unclicker, div.topicfooter {
		display: none !important;
	}
	p.topictitle {
		background-color: transparent !important;
		color: #000000 !important;
		font-size: 1.3rem !important;
		padding: 0; margin: 0;
	}
	div.dropdown-toggle-body {
		display: block !important;
	}
	table#topicheadertable, table#topicheadertable td, td#topicheadercell, div#hmpageheader, div#topicheaderwrapper {
		padding: 0 !important; margin: 0 !important;
		background: transparent !important;
	}	
	div#hmpageheader, div#topicheaderwrapper {
		padding: 0 !important; margin: 0 !important;
	}
	html, body, div#helpwrapper,div#pagewrapper, div#topicbox, div#topicbody {
		display: block !important;
		position: absolute;
		top: 0 !important; right: 0 !important; left: 0 !important; bottom: 0 !important;
	}
	div#hmpageheader {
		position: relative;
		top: 0 !important; right: 0 !important; left: 0 !important;
	}
	
	div#hmpagebody {
		display: block !important;
		position: relative !important;
		top: 1rem !important; right: 0 !important; left: 0 !important; bottom: 0 !important;
		overflow: visible;
		padding: 0 !important; margin: 0 !important;
	}
	
	
	div#pagewrapper, div#hmpagebody, div#hmpagebody_scroller, div#topicbody, div#topicbox {
		color: #000000 !important;
		display: block;
		overflow: visible !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
		border: none !important;
		bottom: auto !important;
		margin: 0 !important; padding: 0 !important;
	}

}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.75) contrast(1.2)
  }
  body {
    background-color: #202020;
  }
  div#pagewrapper {
    background-color: #3c3b3b;
  }
  div#hmpagebody {
    background-color: #3c3b3b;
    color: white;
  }
  span.f_Heading2 {
    color: #48aef2;
  }
  div#hmpageheader {
    background-color: #545454;
  }
  nav#navpane_tabs {
    background-color: #545454;
  }
  div#helpwrapper {
    border: 5px solid #3a3a3a;
  }
  div.navbox {
    box-shadow: none;
  }
  div#navcontainer {
    box-shadow: none;
  }
  h2.page_header {
    color: #ffffff;
    background: rgba(0, 0, 0, .5);
  }
  table tbody tr {
    color: white;
  }
  span.f_CodeExampleInRegel {
    color: #80ccff;
    font-weight: 600;
    font-size: 16px;
    word-break: break-word;
  }
  li.hmtabs a {
    color: #48aef2;
  }
  div table thead tr {     
    background-color: #262626!important;
    color: white!important;
  }
  .p_Normal a.topiclink:visited {
    color: #288ce4;
  }
  .p_Normal a.topiclink:hover {
    color: #b4b4b4;
  }
  .p_Normal span {
    color: #48aef2;
  }
  span.f_CodeExample {
    font-family: 'Courier New',Courier,monospace;
    color: #d8d8d8;
  }
  a.weblink {
    color: #7cbbff;
    text-decoration: underline;
  }
  a.weblink:visited {
    color: #7cbbff;
    text-decoration: underline;
  }
  a.weblink:hover {
    color: #48aef2;
    text-decoration: underline;
  }
  a.topiclink {
    color: #48aef2;
  }
}
