 /* Main Help & Manual WebHelp Page Layout CSS
	 Copyright (c) by Tim Green 2014. All rights reserved. Contact: tg@it-authoring.com
*/
/* Reset Styles for Consistency */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body { 

overflow: hidden;

}
html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 100%;
	background-color:#ffffff;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	}

#navwrapper{visibility:hidden}
#dragwrapper{display:none}

input[type=button].weblink {
  background:#58b100;
  border-bottom:4px solid green;
  border-top:0;
  border-left: 0;
  border-right:0;
  color:white;
  padding:5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
h1.page_header img {
  margin-right: 5px;
  width: 24px;
  vertical-align: middle;
}	
div#helpwrapper {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: 0 auto 0 auto;
	z-index: 0;
	overflow: hidden;
}

div#pagewrapper {
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	padding:0;
	}
div#unclicker {
	position: fixed;
	display: none;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: transparent;
	background-image: url('../images/spacer.gif');
	z-index: 1000;
}

/* NAV */

/* Navigation Tabs */

nav#navpane_tabs {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-family: Arial, sans-serif;
	background-color: #48aef2;
}

ul.tabs {
	display: inline-block;
	list-style:none;
	margin: 0;
	padding-top: 0.3rem;
	padding-left: 0.2rem;
	padding-bottom: 0.5rem;
	white-space: nowrap;
	font-size: 1.2rem;
	}

/* Non Current Tabs */
li.hmtabs {
	display: inline;
	text-indent:0;
	list-style-image:none;
	background-color: transparent;
	padding-top: 0rem;
	padding-bottom: 0rem;
	}
li.hmtabs a {
	color: #bde5ff;
	text-decoration: none;
	padding: 0 0.3rem 0.5rem 0.3rem;
	}
li.hmtabs a span {
	-webkit-user-select: none; 
	}
li.hmtabs svg.tocicon {
	width: 1em;
	height: 1em;
	color: #bde5ff;
	fill: #bde5ff;
	margin-bottom: -0.2rem;
}
li.hmtabs span {
	display: inline;
	margin-left: 0.2rem;
	}

/* Current Tab */  
li.hmtabs.current {
	background-color: transparent;
	}
li.hmtabs.current a {
    background-color: transparent;
    border-radius: 0 0 0 0;
    }
li.hmtabs.current a, li.hmtabs.current svg.tocicon {
	color: #ffffff;
	fill: #ffffff;
	font-weight: 400;
	cursor:default;
	}
	
/* General */
.desktop {
	display: none !important;
	}
.tablet {
	display: none !important;
}
.desk_tablet {
	display: none !important;
	}
.noscript { 
	display: none !important;
	}
.scripted {
	
	}
.phone {
	
	}

/* Header Area */
a#headerlogo {
	display: block;
	position: absolute;
	z-index: 1001;
	top: 0.5rem; left: 5px; bottom: 0.1rem;
	width: 4.2rem;
	background-image: url('../images/invantive-logo-197x115.svg');
	background-repeat: no-repeat;
	background-size: auto 85%;
	background-position: left top;
}
h1.page_header {
	display: inline-block;
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 1.1rem;
	padding: 0.2rem 0.2rem;
	margin: 0.35rem 15% 0 15%;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	width: 70%;
	max-width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	}

div#headerbox_wrapper {
	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: 1010;
}
	
div#headerbox {
	position: relative;
	background-color: #7cbbff;
	top: 0px; left: 0px; right: 0px;
	height: 3.000rem;
	overflow: visible;
} 
div#headerwrapper {
	display: block;
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	margin: 0; padding: 0.188rem 0 0 0;
	}
div#toolbar_updown {
	position: absolute;
	bottom: 50%;
	right: 0;
	width: 2rem; height: 2.2rem;
	padding: 0.1rem 0 0 0.2rem;
	z-index: 100000;
	background-color: #000000;
	opacity: 0.3;
}
/* Correction for iPhone */
@media only screen and (orientaton: landscape) {
	@supports (-webkit-overflow-scrolling: touch) { 
		div#toolbar_updown {
			right: 5px;
		}
	}
}
div#toolbar_updown svg#toolbar_updown_button {
	vertical-align: middle;
	width: 1.8rem;
	height: 1.8rem;
	fill: #ffffff;
}

/* Page Header Menus */

div#phone_hamburger_icon {
	position: absolute;
	top: 0; bottom: 0; right: 0.4rem;
	padding: 0.1rem;
	padding-top: 0.5rem;
	font-size: 1.5rem;
}
svg#phone_hamburger, svg#phone_hamburger_mobnav {
	fill: #ffffff;
	width: 1.6rem;
	height: 1.6rem;
}

/* Drop-down menus in page header */

/* Hidden elements in phone version */
p.menu-header, p.menu-description, div.menu-image-box, ul.topnav br, ul.topnav svg, img.description-image  {
	display: none;
}
p.menu-description, ul.topnav svg, p.menu-header {
	max-width: 1rem;
}

div#header_menu {
	display: none;
	position: fixed;
	font-family: Arial, sans-serif;
	font-size: 0.850rem;
	right: 2.8rem;
	z-index: 1000;
	}
ul.topnav {
	list-style: none;
	padding: 0;
	margin: 0;
	width: auto;
	white-space: nowrap;
	background-color: rgba(35,40,45,0.9);
	box-shadow: 2px 2px 3px #959595;
	}
ul.topnav li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	border-bottom: none;
	white-space: nowrap;
	}
ul.topnav li.header a {

	}
ul.topnav li.header svg.submenu_icon {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	fill: #ffffff;
	margin-bottom: 0.065rem;
}
ul.topnav li.last { 
	border-bottom: none;
	}

ul.topnav li a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding: 0.300rem 0.325rem;
	display: block;
	cursor: pointer;
	}
ul.topnav li a:visited {
	color: #ffffff;
	}
ul.topnav li span { 

	}
ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
	} 

/* Exclude the banner images in the phone menu */
div.blockmenu.image {
	background-image: none !important;
}	
div.blockmenu a.icon, div.fullmenu a.icon {
	background-image: none !important;
}

ul.topnav li ul.subnav {
	display: none;
	list-style: none;
	background-color: rgba(35,40,45,0.9);
	}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	width: auto;
	}
ul.topnav > li {
	border-bottom: thin solid #ffffff;
	}
ul.topnav li ul.subnav li a {
	display: block;
	width: auto;
	color: #ffffff;
	cursor: pointer;
	}
ul.topnav li ul.subnav li a::before {
	content: " - ";
	}

/* Navigation Panes */
td#topicnavcell {display: none;}

div#navwrapper {
	position: absolute;
	top: 3.375rem;
	left: 0;
	bottom: 2.4rem;
	padding: 0;
	width: calc(100% - 2rem);
	cursor: col-resize;
	overflow: visible;
	background-color: transparent;
	-ms-touch-action: none;
	-webkit-transform:translateZ(0);
	} 
div#navcontainer {
	position: absolute;
	top: 0; right: 2.4rem; bottom: 0; left: 0;
	border: thin solid #444444;
	border-width: 0 thin thin 0;
	/* First padding value adjusts nav tabs up/down */
	padding: 0.000rem 0 0 0;
	overflow: visible;
	background-color: #f5f5f5;
	z-index: 1001;
	} 
div#navsplitbar {
	position: absolute;
	top: 1.700rem; right: 2px; bottom: 0;
	width: 17px;
	background: url('../images/spacer.gif');
	background-color: transparent;
	/* opacity: 0.6; */
	}
div#dragwrapper {
	position: absolute;
	visibility: hidden;
	right: 0.15rem;
	top: 30%;
	width: 2.2rem;
	height: 2.2rem;
	padding: 0.25rem 0 0 0;
	z-index: 20;
	background-color: #000000;
	opacity: 0.3;
	}
div#dragwrapper.over {
	box-shadow: 0.1rem 0.1rem 0.5rem #888888;
	}
svg#draghandleicon_l, svg#draghandleicon_r {
	width: 1.8rem;
	height: 1.8rem;
	fill: #ffffff;
	display: block;
	-ms-touch-action: none;
	margin: auto;
	}
div.navbox {
	position: absolute;
	/* Top value adjusts navbox top up/down */
	top: 2.500rem;
	right: 0; left: 0; bottom: 0;
	padding: 0; margin: 0;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0.09rem 0.085rem 0.2rem #959595;
	-webkit-overflow-scrolling: touch;
	}
div.navbox.on {
	display: block;
	}
div.navbox.off {
	display: none;
	}
iframe.navframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height:100%;
	border:none;
	background-color: transparent;
	overflow: hidden;
	margin: 0; padding: 0;
	}
	
/* Topic Pane */	
div#topicbox {
	position: absolute;
	background-color: #ffffff;
	top: 3.05rem;
	left: 0; right: 0;
	bottom: 2.15rem;
	border: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	} 
div#hmpageheader {
	font-family: Arial, sans-serif;
	background-color: transparent;
	overflow: hidden;
	}
/* Feature Image and Description */
div#featureheader {
	position: fixed;
	top: 0; left: 0; right: 0;
	text-align: left;
	overflow:hidden;
	height: auto;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	}
div#featureheader p {
	position: absolute;
	left: 0; bottom: 0; right: 0;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
	padding: 1rem; margin: 0;
	background:#000000;
	color: #ffffff;
	filter: alpha(opacity=60);
	opacity: 0.6;
	}
div#hmpagebody {
	padding: 0 1rem 0.5rem 1rem;
	margin: 0;
	}
img#leftright {
	position: absolute;
	right: -60px;
	top: 33%;
	display: none;
	z-index: 2000;
	}

/* Popups */

div.hmpopup {
	margin: 0; padding: 0;
	font-family: Arial, sans-serif;
}

div#hmpopupbox {
	position: absolute;
	display: none;
	border: thin solid #bfbfbf;
	background-color: #ffffff;
	top: 5rem; left: 13rem;
	width: 30rem;
	height: 3.6rem;
	max-width: 95%;
	max-height: 80%;
	box-shadow: 1px 1px 2px 0px #959595;
	z-index: 99999;
	}
div#hmpopuptitlebar {
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 1.5rem;
	background-color: #bfbfbf;
	padding: 0 0.3rem 0.3rem 0;
	color: #444444;
	font-weight: bold;
}
div#hmpopuptitlebar p {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 1.5rem;
	margin: 0 0 0.5rem 0;
	font-size: 1rem;
	text-align: center;
	}
div#hmpopuptitlebar div#hmpopuptitle {
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
	cursor: move;
	padding-top: 0.15rem;
}
div#hmpopuptitlebar div#hmclosepopup{
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 1.5rem;
	cursor: pointer;
}
div#hmpopuptitlebar div#hmclosepopup span {
	display: block; position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	font-size: 1.2rem;
	text-align: center;
	padding: 0; margin: -0.1rem 0 0 0;
	}
div#hmpopupbody {
	position: absolute;
	top: 1.5rem; left: 0; right: 0; bottom: 0;
	overflow: auto;
	padding: 0.5rem;
	background-color: #ffffff;
	/* padding: 0; */
	-webkit-overflow-scrolling: touch;
	}

/* Mobile Navigation Toolbar and Buttons */ 

div#mob_toolbar_wrapper {
	position: absolute;
	color: transparent;
	background-color: #7cbbff;
	left: 0; right: 0; bottom: 0;
	/*height: 50px;*/
	height: 2.200rem;
	/*-webkit-transform: translateZ(0);*/
	z-index: 49000;
	}
div#mob_toolbar {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 2.100rem;
	background-color: #7cbbff;
	padding-top: 0.156rem;
	z-index: 50000;
	}
table.mobtoolbar {
	width: 100%;
	margin: 0; padding: 0;
	background-color: #7cbbff;
	}
p.topic_breadcrumbs { 
	display: none;
}
table.mobtoolbar td {
	padding: 0;
	margin: 0;
	}
table.mobtoolbar td.mob_hamburger {
	display: none;
	text-align: right;
	vertical-align: top;
	padding: 0;
	}
table.mobtoolbar.landscape td.mob_hamburger {
	display: table-cell;
	width: 40%;
}
table.mobtoolbar.landscape svg#phone_hamburger_mobnav {
	margin-top: -3px;
}
div.mobnav {
	margin: 0;
	cursor: pointer;
	width: 25px !important;
	height: 25px !important;
	background-size: 22px 22px !important;
	margin-top: 2px !important;
	-webkit-transform: translateZ(0);
	}
div#phone_mobnav_hamburger_icon {
	display: none;
	border: none;
	position: absolute;
	right: 0; top: 0.156rem;
	font-size: 1.5rem;
	/*box-shadow: 0 0 0 #676767;*/
	background-image: url('../images/spacer.gif');
	padding: 0 1rem;
	overflow: hidden;
	}
div.mobnav.previous {
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 100% 75%;
        background-size: 300%!important;
	}
div.mobnav.next {
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 0% 100%;
        background-size: 300%!important;
	}
div.mobnav.home {
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 50% 50%;
        background-size: 300%!important;
	}
div.mobnav.toc {
	background-image: url("../images/documentation-icon-sprite.svg")!important;
        background-position: 0% 0%;
        background-position: 100% 50%;
        background-size: 300%!important;
	}
div.mobnav.textplus{
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 0% 75%;
        background-size: 300%!important;
	}
div.mobnav.textnormal{
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 100% 50%;
        background-size: 300%!important;
	}
div.mobnav.textminus {
	background: url("../images/documentation-icon-sprite.svg");
        background-position: 0% 0%;
        background-position: 50% 75%;
       background-size: 300%!important;
	}
@supports (-webkit-overflow-scrolling: touch) {
	/* These settings for iOS only */
	div.mobnav {
		margin-top: 4px !important;
		width: 19px !important;
		height: 19px !important;
		background-size: 18px 18px !important;
	}
}
div.mobnav.off {
	opacity: 0.6;
	}

ul#hamburgermenu {
	display: none;
	}

div#dragsurface {
	position: absolute;
	display: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-image: url("../images/spacer.gif");
	cursor:col-resize;
	z-index: 100000;
	}
p.topictitle {
	font-family: Arial, sans-serif;
	font-size: 1.15rem;
	font-weight: bold;
	color: #333333;
	background-color: transparent;
	padding: 0.2rem 0.5rem 0 0.5rem;
	}
table#topicheadertable {
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: -0.2rem;
	}
table#topicheadertable td {
	
	padding: 0.5rem;
	}
table#topicheadertable tr, table#topicheadertable td{
	min-height: 28px;
	}

td#topicnavcell {
	outline: 0px solid blue;
	padding: 0; margin: 0;
	}
td#topicnavcell * {
  white-space: nowrap;
	}
td#topicheadercell {
	outline: 0px solid green;
	}
div#topicheaderwrapper span {
	white-space: nowrap;
	padding-left: 0.250rem;
	}
.wraptext {
	white-space: normal !important;
	}

p.contents_header {
	margin: 0; padding: 0;
	font-size: 16px;
	font-weight: bold;
	}
div#tapImageWrapper {
	display: none;
	/*-ms-touch-action: none;*/
	}

img#tapImage {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	max-width: 100%;
	}
img.tap-image {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	}

div#ltTableWrapper, div#ltTableNapkin {
	position: absolute;
	background-color: #ffffff;
	z-index: 1000;
	top: 0.1rem; left: 0.1rem; right: 0.1rem; bottom: 0.1rem;
	overflow: auto;
	}
div#ltTableWrapper {
	display: none;
	}
div#ltTableNapkin {
	-webkit-overflow-scrolling: touch;
	padding: 0.2rem;
}
div.openLTable {
	border: 2px solid grey;
	border-radius: 0.3rem;
	padding: 0.1rem 0.3rem;
	font-weight: bold;
	text-align: center;
	}
img#closeLTable {
	position: fixed;
	width: 2rem !important;
	height: 2rem !important;
	top: 1px; left: 1px;
	opacity: 1.0;
	z-index: 1001;
	}
.highlight { background-color: #ffff66; color: #000000; }
 
 /* Responsive xTables Styles */
div.xtable_datablock {
	width: 100%;
	display: none;
	margin-bottom: 0.5rem;
	}
table.xResponsive tr.phone {
	display: none;
	}
table.xResponsive img.responsive {
	width: 100% !important;
	height: auto;
	}
div.xtable_switchwrapper {
	display: table-cell;
	}
div.xtable_dataiconwrapper {
	display: table-cell;
	height: 100%;
	padding: 0 0.3rem 0 0; margin: 0;
	vertical-align: top;
	border: 0px solid blue;
	}
img.xtable_dataicon {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

p.xtable_datatitle {
	font-weight: bold !important;
	font-size: 1rem !important;
	margin-bottom: 0 !important;
	margin-top: 0;
} 

/* Initial state of dropdown and inline text toggles */ 
a.dropdown-toggle[data-state="0"] + div.dropdown-toggle-body { display: none;}
a.inline-toggle + span { padding: 0 0.25rem; }
a.inline-toggle[data-state="0"] + span { display: none; }

 /*** Image toggle box ***/

div#imagetogglebox {
	display:none;
	position:absolute;
	background-color: #ffffff;
	border: 4px solid #c0c0c0;
	box-shadow: 4px 4px 4px #959595;
	z-index: 999000;
}
div#imagetogglebox img {
	position: absolute;
	top: 0; left: 0;
	}
div#imagezoom {
	display: none;
	position: absolute;
	top: 5px; right: 5px;
	width: 50px; height: 50px;
	}
img#imagezoomer {
	position: absolute;
	top: 0; left: 0;
	cursor: pointer;
	}
div#imagecaptionbox {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	border-top:  4px solid #c0c0c0;
	}
div#imagecaptionbox p.zoomedcaption {
	display: block;
	font-family: Arial, sans-serif;
	color: #888888;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: left;
	}
img.image-toggle, svg.image-toggle-magnifier {
	cursor: pointer;
	}
a.imagetogglelink {
	cursor: default;
	}
	
/* Footer defined in _topicfooter.html */
div.topicfooter {
   width: 95%;
   margin: 1.25rem auto 0 auto;
   padding: 0 0 0.75rem 0;
   border-style: solid;
   border-width: thin 0 0 0;
   border-color: #888888;
}
p.topicfooter {
	font-family: Arial, sans-serif;
	font-size: 0.7rem;
	color: #888888;
	text-align: center;
	width: 100%;
	padding-top: 0.3125rem;
}
p.topicfooter a {
   color: #888888;
   border-bottom: thin dotted #888888;
   text-decoration: none;
}
p.topicfooter a:visited {
   color: #888888;
}

/* Social sharing popup */
div.sharebox {
	margin: 0.5rem auto 0 auto;
	text-align: center;
	white-space: nowrap;
}
div.sharebox a {
	display: inline-block;
	padding: 0 0.8rem;
	cursor: pointer;
}
div.sharebox a > svg {
	width: 2.5rem !important;
	height: 2.5rem !important;
}

 /* Hyperlink colors and behaviors */
a.topiclink {color: blue; text-decoration: underline;}
a.topiclink:visited {color: blue;}
a.topiclink:hover {color: blue; }
a.weblink {color: blue; text-decoration: underline;}
a.weblink:visited {color: blue;}
a.weblink:hover {color: blue; }
a.popuplink {color: blue; text-decoration: underline;}
a.popuplink:visited {color: blue;}
a.popuplink:hover {color: blue; }
a.filelink {color: blue; text-decoration: underline;}
a.filelink:visited {color: blue;}
a.filelink:hover {color: blue; }
a.scriptlink{color: blue; text-decoration: underline;}
a.scriptlink:visited {color: blue;}
a.scriptlink:hover {color: blue;}
a.inline-toggle {color: blue; text-decoration: underline;}
a.inline-toggle:visited {color: blue;}
a.inline-toggle:hover {color: blue; }
a.dropdown-toggle {color: blue; text-decoration: underline;}
a.dropdown-toggle:visited {color: blue;}
a.dropdown-toggle:hover {color: blue; }

/* Special tables for info boxes */
#callout-table, #overview-table {display:block; position:relative; top:0; left:0;}
#callout-icon {display:block; position:absolute; top:-11px; left:-11px;}
#callout-icon-flag {display:block; position:absolute; top:-11px; left:-8px;}
#callout-table a {text-decoration: none; color: blue;}
#callout-table a:visited {text-decoration: none; color: blue;}
#overview-table a {text-decoration: none; color: #000000;}
#overview-table a:visited {text-decoration: none; color: #000000;} 

/* SVG Sprite Visibility */
.svgsprite {
	display: inline !important;
	}

/*-----CUSTOM CSS ICONS ---*/

#indextablink .tocicon, #contentstablink .tocicon, #searchtablink .tocicon {
  display: none;
} 

#indextablink:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 350%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 50% 3%;
  opacity: 0.5;
}

#contentstablink:before {
  content:'';
  background: url("../images/documentation-icon-sprite.svg");
  background-size: 350%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 1%;
  opacity: 0.5;
}

#searchtablink:before {
  content: '';
  background: url(../images/documentation-icon-sprite.svg);
  background-size: 320%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-position: 100% 2%;
  opacity: 0.5;
}

.current #indextablink:before, .current #contentstablink:before, .current #searchtablink:before {
  opacity: 1;
} 

/* Layout of printable version for browser print function */
@media only print {
	
	body, div#pagewrapper {
		background-color: transparent !important;
		background-image: none !important;
	}
	a#headerlogo, div#headerwrapper, div#headerbox_wrapper, div#navwrapper, p#ptopic_breadcrumbs, td#topicnavcell, img.dropdown-toggle-icon, div.topicfooter {
		display: none !important;
	}
	p.topictitle {
		background: transparent !important;
		color: #000000;
		padding: 0 !important; margin: 0 !important;
		font-size: 1.3rem !important;
	}
	div.dropdown-toggle-body {
		display: block !important;
	}
	table#topicheadertable, table#topicheadertable td, td#topicheadercell, div#hmpageheader, div#topicheaderwrapper {
		padding: 0 !important; margin: 0 !important;
		background: transparent !important;
	}	
	html, body, div#topicbox, div#topicbody {
		display: block !important;
		position: absolute;
		top: 0 !important; right: 0 !important; left: 0 !important;
		bottom: auto !important;
		overflow: visible;
		padding: 0; margin: 0;
	}
	div#hmpageheader {
		position: relative;
		top: 0 !important; right: 0 !important; left: 0 !important;
	}
	div#hmpagebody {
		display: block !important;
		position: relative !important;
		top: 0.5rem !important; right: 0 !important; left: 0 !important; bottom: auto !important;
		overflow: visible;
		padding: 0 !important; margin: 0 !important;
	}
	
	div#pagewrapper, div#hmpagebody, div#hmpagebody_scroller, div#topicbody, div#topicbox {
		
		overflow: visible !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
		border: none !important;
		bottom: auto !important;
		margin: 0 !important; padding: 0 !important;
	}

}
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.75) contrast(1.2)
  }
  body {
    background-color: #202020;
  }
  div#pagewrapper {
    background-color: #3c3b3b;
  }
  div#hmpagebody {
    background-color: #3c3b3b;
    color: white;
  }
  span.f_Heading2 {
    color: #48aef2;
  }
  div#hmpageheader {
    background-color: #545454;
  }
  nav#navpane_tabs {
    background-color: #545454;
  }
  div#helpwrapper {
    border: 5px solid #3a3a3a;
  }
  div.navbox {
    box-shadow: none;
  }
  div#navcontainer {
    box-shadow: none;
  }
  h1.page_header {
    color: #ffffff;
    background: rgb(0 0 0 / 50%);
  }
  table tbody tr {
    color: white;
  }
  span.f_CodeExampleInRegel {
    color: #80ccff;
    font-weight: 600;
    font-size: 16px;
  }
  li.hmtabs a {
    color: #48aef2;
  }
  div table thead tr {     
    background-color: #262626!important;
    color: white!important;
  }
  .p_Normal a.topiclink:visited {
    color: #288ce4;
  }
  .p_Normal a.topiclink:hover {
    color: #b4b4b4;
  }
  a.weblink {
    color: #7cbbff;
    text-decoration: underline;
  }
  div#topicbox {
    background-color: #3c3b3b;
  }
  p.topictitle {
    text-align: center;
    color: white;
  }
}
