body {
    background: #eaeaea;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    overflow: hidden;
}
#background {
    background: #ffffff;
    overflow: hidden;
    border: 10px solid #1890d8;
    outline: 1px solid white;
    width: 800px;
    margin: 100px auto 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.5);
}
h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: #646464;
    margin: 0;
    padding-left: 10px;
}
h3 {
  color: #646464;
  margin: 0;
}
.productLogo {
    vertical-align: middle;
    margin: 0 0 15px 0;
}
.heading {
    background: #1890d8;
    color: white;
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.heading span {
    padding-left: 5px;
    display: inline-block;
    flex: 1 1 0;
}
#chooseFilter {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 5px;
}
.form {
    margin: 0;
}
.form ul {
    position: relative; 
    margin: 0;
    padding: 0;
}
.adblock {
  position: absolute;
  bottom: -5px;
  right: 5px;
  color: grey;
}
.form ul li {
    text-decoration: none;
    display: block;
    margin: 15px 0;
}
.form ul li span {
    display: inline-block;
    word-break: break-word;
}
.form ul .button {
    margin: 0;
    display: inline-block;
}
.form ul label {
    width: 125px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: top;
}
.form ul label.companies {
    width: auto;
    display: inline-block;
    margin-bottom: 5px;
}

.startForm ul {
  display: flex;
  align-items: center;
}

.startForm ul li.buttonBridgeOnline {
  cursor: pointer;
  margin-left: auto;
  max-width: 200px;
  background: #d6d615;
  border-bottom: 4px solid #e0b30d;
  padding: 10px 13px 7px 13px;
  color: #2f2f2f;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 6px 0px rgb(156 72 0 / 72%); 
}

.startForm ul li.buttonBridgeOnline:hover {
  box-shadow: 0 0 6px 0px rgb(156 72 0 / 72%);
}

.startForm ul li.buttonBridgeOnline span {
  align-items: center;
  display: flex;
}

.startForm ul li.buttonBridgeOnline span:before {
  content: '';
  margin-right: 5px;
  background: url(images/eol-logo.svg);
  width: 26px;
  height: 26px;
  background-size: 100%;
  flex: 26px 0 0; 
}

.otherProducts {
 display: flex;
 flex-direction: row;
}
label {
  font-weight: bold;
}

.requestButton, .downloadReport {
  display: inline-block;
  background: #1EC74E;
  border: 0;
  border-radius: 5px;
  padding: 10px 13px 7px 13px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 10px 0;
  border-bottom: 4px solid #179C3D;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.downloadReport {
    box-shadow: 0px 0px 0px 2px white;
}

.form ul li.testRun {
  margin-left: auto;
  margin-right: 10px;
}

.testRun input, .testRun label {
  vertical-align: middle;
}
.testRun input {
  margin: 0 0 0 5px;
}

.close {
  cursor: pointer;
}

.requestButton.bsrCurrency.disabled {
      border-bottom: 4px solid #777777;
      background: #b7b7b7;
      opacity: 0.5;
}

.requestButton.custom {
    background: #7bb4ef;
    border-bottom: 4px solid #1381f3;
    padding: 9px 13px 5px 13px;
}

.requestButton.customInput {
  background: #7bb4ef;
  border-bottom: 0;
  padding: 4px 0px 4px 0px;
  position: relative;
}
.requestButtonAnchor {
    background: #1EC74E;
    border-radius: 5px;
    padding: 10px 15px 7px 15px;
    color: #FFFFFF;
    font-size: 13px;
    border-bottom: 4px solid #179C3D;
    text-decoration: none;
    display: inline-block;
}
.powered {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #7b7b7b;
}
.powered a {
    color: #1890d8
}
.slideIn2,
.slideIn3 {
    display: none;
}
.userInfo {
    display: inline-block;
    text-align: right;
}
.userHeader {
    margin: 0px 0px 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userInfoWrapper {
    float: right;
    cursor: pointer;
}
#userimage {
    width: 32px;
    vertical-align:top;
    position: relative;
}
.left {
    float: left;
    width: 30%;
    text-align: center;
}
.right {
    float: right;
    width: 30%;
    text-align: center;
}
.other {
    background: rgba(30, 102, 199, 0.67);
    border-bottom: 4px solid rgba(23, 79, 156, 0.67);
}
.firststep {
    width: 100%;
}
.successModal {
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    border-radius: 10px;
    padding: 10px;
    left: 50%;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    background: rgba(24, 144, 216, 0.8);
    z-index: 3;
}

.succesModal div {
  margin: 4px;
}

div[class^="step"] {
    position: relative;
}
.overlayModal {
    display: none;
    background: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.errorMessage {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border: 1px solid #038ddb;
    z-index: 3;
    height: 100%;
}
.errorOverlay {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgba(255,255,255,0.9);
  z-index: 2;
}
.cg-busy {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%!important;
  left: 50%!important;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 2;
}
.errorMessage pre {
  background: #f1f8ff;    
  border: 1px solid #82beff;    
  padding: 10px;    
  white-space: pre-wrap;
}
  .errorMessage h1 {  
   display: block;  
   background: #0793dc;    
   color: white;    
   padding: 3px 5px;     
   font-weight: normal;    
   font-size: 20px; 
   width: auto;
   margin-bottom: 0;
}
.errorMessage .pre p {    
    margin:0;
    max-height: 200px;
    overflow-y: auto;
}
.errorMessage .pre p.dap-uid {    
  position: absolute;
  right: 0;
  bottom: 0;
  color: #69b1dc;
  padding: 5px;
} 
.errorMessage h3 {
  background: #1890d8;
  color: white;
  padding: 6px;
  margin-bottom: 5px;
}
.errorMessage .pre {
  white-space: pre-wrap;
  display: block;
  padding: 10px;
  background: #f1f8ff;    
  border: 1px solid #82beff;   
  margin: 10px;
  overflow-y: scroll;
  height: calc(100% - 70px);
  position: relative;
}
.errorMessage.dapUid {
  height: auto;
}
.errorMessage.dapUid .pre {
  overflow-y: auto;
}
.errorMessage.dapUid p.dap-message {
  margin-bottom: 15px;
}
.errorMessage .closeError, .closeSettings {
  position: absolute;
  right: 4px;
  top: 4px;
  background: white;
  color: #0090df;
  padding: 3px 6px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.closeSettings {
  position: absolute;
  right: 4px;
  top: 4px;
  background: white;
  color: #0090df;
  padding: 0 4px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.errorMessage.er500 h1 {
  margin-top: -15px;
}

.errorIcon {
  background: url(images/error.svg);
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
  margin: 10px 0;
}
.footer .version {
  background: #98c714;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 2px 2px 0 #f1f1f1;
  padding: 1px 4px;
}
.ui-select-bootstrap .ui-select-choices-row>span {
  white-space: unset !important;
}
.form ul li span.ui-select-match
{
  display: block;
}
.cg-busy-default-spinner {
    transform: translate(-50%,-50%);
}

.oer, .ecb{
  display: none;
  font-size: 10px;
  color: gray;
}

.eolStatus {
  font-size: 10px;
  color: gray;
  display: inline-block;
  text-align: left;
  margin: 2px 0;
}

.eollabel {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 2px 10px;
  vertical-align: middle;
}

.oer.show, .ecb.show {
  display: inline-block;
  text-align: left;
  margin: 2px 7px 2px 0;
}

.oerlabel, .ecblabel {
  vertical-align: middle;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 2px 10px;
}

.oerdate, .ecbdate, .indicatorIcon {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #73c71e;
  border: 1px solid green;
  border-radius: 8px;
  vertical-align: middle;
  animation: blink 1s;
  animation-iteration-count: 3;
}

.oerdate.yellow, .ecbdate.yellow, .indicatorIcon.yellow {
  background: #f9df00;
  border: 1px solid #dc9a00;
}

.oerdate.orange, .ecbdate.orange, .indicatorIcon.orange {
  background: #ffaa00;
  border: 1px solid #c17600;
}

.oerdate.red, .ecbdate.red, .indicatorIcon.red {
  background: #ff3535;
  border: 1px solid #a90202;
}

.eolStatus .status
{
  display: none;
}

.contactPrompt {
   display: none;
   background: #f1f1f1;
   padding: 10px 10px 0 10px;
   margin: 10px 0;
   position: relative;
}

.contactPrompt article {
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px;
}

.contactPrompt ul li a {
    color: #2C8CDD;
    text-decoration: none;
    vertical-align: middle;
}

.contactPrompt article ul {
    padding: 0;
}

.contactPrompt article ul  li{
    list-style-type: none;
}

.contactPrompt .supportPortal ul  li:before{
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.contactPrompt .supportPortal ul  li.portalReview:before{
  content: '';
  background:url(supportsprite.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contactPrompt .supportPortal ul  li.portalQuestion:before{
  content: '';
  background:url(supportsprite.svg);
  background-position: 0 -17px;
  background-repeat: no-repeat;
}

.contactPrompt .supportPortal ul  li.portalIdea:before{
  content: '';
  background:url(supportsprite.svg);
  background-position: 0px -42px;
  background-repeat: no-repeat;
  background-size: 120%;
}

.contactPrompt .supportPortal ul  li.portalProblem:before{
  content: '';
  background:url(supportsprite.svg);
  background-position: 0 -50px;
  background-repeat: no-repeat;
}

.portalReview a {
  font-weight: bold;
}

.closePortal {
  background: url(supportsprite.svg);
  width: 16px;
  height: 16px;
  display: block;
  background-position: 0 -64px;
  position: absolute;
  right: 10px;
  top: 10px;
}


.contact {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 10px;
  color: white;
  margin: 0 10px;
  background: rgba(30, 102, 199, 0.67);
  border-bottom: 4px solid rgba(23, 79, 156, 0.67);
  cursor: pointer;
}

/*.form ul li.customInputWrapper {
  opacity: 0.2;
}

.form ul li.customInputWrapper.active {
  opacity: 1;
}
*/

.importButton {
  width: 125px;
}

.form ul li.latestOptionWrapper {
  margin: 5px 0;
  padding: 5px;
}

.latestOptionWrapper.active {
  background: #f7f7f7;
}

.customWrapper.active {
  background: #f7f7f7;
}

.form div.customWrapper {
  margin: 5px 0;
  padding: 5px;
}

.form ul .optionsWrapper label {
  width: auto;
  vertical-align: unset;
  font-weight: normal;
  color: #646464;
}

.form ul li.optionsWrapper {
  margin: 0;
}

/*.optionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

.helpButton {
  text-decoration: none;
  background: #cfebff;
  padding: 0 4px;
  border-radius: 22px;
  margin: 0 5px 0 auto;
}

.helpIcon {
  background: #038ddb;
  font-size: 13px;
  border-radius: 15px;
  display: inline-block;
  padding: 2px 7px;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
}

.helpText {
  padding: 5px;
  color: #038ddb;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  font-size: 12px;
}

.customDays {
  margin: 0 4px 0 0px;
  border: 1px solid #646464;
  text-align: center;
  border-radius: 3px;
  width: 45px;
}

.customValue {
  margin:0 4px;
  text-decoration:underline;
}
.customInput:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 7px;
  margin-top: -7px;
}

.form ul .button.customInput {
  margin-left: 5px;
}

.supportPortal ul li {
  margin: 5px 0;
}

.ad {
  background: #6998da;
  position:relative;
  border-bottom: 4px solid #3266b0;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.ad img {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #00000052;
}
.ad span {
  color: #ffffff;
  font-size: 12px;
  vertical-align: middle;
}

.adButton {
  position:relative;
  margin-left: auto;
  list-style-type: none;
}

.select2-choices {
  max-height: 110px;
  overflow-y: scroll!important;
}

.selectAll, .selectDefault {
  background: #6999d9;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid #3367b0;
  font-size: 11px;
  color: white;
}

.selectAll {
  margin-left: auto;
}

.selectDefault {
  margin-left: 5px;;
}

.selectWrapper {
  display: flex;
  margin-bottom: 5px;
  align-items: baseline;
}

.userImageWrapper {
  position: relative;
}

.userImageWrapper:before {
  content: '';
  background: url(user.svg);
  background-size: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  right: -12px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.settingsOverlay {
  display: none;
  background: #fffffff7;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.mySettings {
  display: none;
  border: 1px solid #1790d8;
  z-index: 3;
  position: absolute;
  background: #ffffff;
  width: 700px;
  /*height: 320px;*/
  transform: translateX(-50%);
  left: 50%;
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.5);
}

.userSettingsContent {
  padding: 10px;
}

.settingsUserContainer {
  display: inline-block;
  vertical-align: middle;
}

.settingsUserContainer a {
  color: #1790d8;   
}

.settingsUserContainer span {
  display: block;
}

.userSettingImage {
  height: 32px;
  border: 1px solid #7b7b7b;
  margin-right: 5px;
}

.settingsUser {
  background: #f5f5f5;
  padding: 10px;
  display: flex;
  align-items: center;
}

.statsList {
  padding: 0;
}

.statsList li {
  list-style-type: none;
  margin: 2px 0;
  border-radius: 6px;
  padding: 5px;
}

.statsList .statLabel {
  width: 155px;
  display: inline-block;
}

.statsList .stat {
  color: #000030;
  padding: 2px 10px;
  border-radius: 10px;
  vertical-align: top;
}

.close {
  background: url(close.svg);
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #46a6e0;
  border-radius: 50%;
}

.messageSpeed {
  color: #1ec74e;
  font-size: 11px;
  text-decoration: underline;
}

.clickSpeedWrapper {
  width: 170px;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.speedButton {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  text-decoration: none;
  align-items: center;

}

.clickSpeed {
  position: relative;
  cursor: pointer;
  color: #b4b4b4;
  width: 160px;
  font-size: 11px;
  margin-right: 10px;
  text-decoration: underline;
}

.buttonBar {
  display: flex;
  align-items: center;
}

.form ul li.copyClipboard {
  background: #038ddb;
  font-size: 13px;
  border-radius: 16px;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  flex: 32px 0 0;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.form ul li.copyClipboard:after {
  content: '';
  background: url(images/copy.svg);
  background-size: cover;
  height: 19px;
  width: 19px;
  display: inline-block;
}

.copiedClipboard {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #1890d8;
  padding: 30px;
  color: #ffffff;
  z-index: 2;
  font-size: 14px;
}

.formWarning {
  color: #383838;
  margin: 5px 0 0 0;
  background: #fbdada;
  border: 1px solid #ff6464;
  padding: 3px;
}

.leaveReview {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.leaveReview:before {
  content:'';
  background: url(images/review.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#beforeDate {
  width: 70px;
}

.attentionBox {
  background: #ffe1e1;
  border: 1px solid #c92f1a;
  margin: 10px 0;
  padding: 5px;
}

.attentionBox h4 {
  margin: 0 0 5px 0;
  padding: 3px 0;
  background: #c92f1a;
  color: white;
  text-align: center;
  font-size: 14px;
}

.attentionBox a {
  color: #c92f1a;
  font-weight: 600;
}

.attentionCloud {
  text-align: center;
  background: #ffe1e1;
  background-image: linear-gradient(45deg, #ffe8e8 25%, #ffe0e0 25%, #ffe0e0 50%, #ffe8e8 50%, #ffe8e8 75%, #ffe0e0 75%, #ffe0e0 100%);
  background-size: 56.57px 56.57px;
  border: 1px solid #c92f1a;
  margin: 10px 0;
  padding: 5px;
}

.attentionCloud h4 {
  margin: 0;
  padding: 5px;
  color: white;
  background: #c92f1a;
}

.attentionCloud p a {
  color: #c92f1a;
  font-weight: bold;
}

#attentionJquery {
  display: none;
  text-align: center;
  background: #ffe1e1;
  background-image: linear-gradient(45deg, #ffe8e8 25%, #ffe0e0 25%, #ffe0e0 50%, #ffe8e8 50%, #ffe8e8 75%, #ffe0e0 75%, #ffe0e0 100%);
  background-size: 56.57px 56.57px;
  border: 1px solid #c92f1a;
  margin: 10px 0;
  padding: 5px;
}

#attentionJquery h4 {
  margin: 0;
  padding: 5px;
  color: white;
  background: #c92f1a;
}

.userLanguage {
 margin-left: auto;
 color: black;
}

@keyframes blink { 
  50% { 
        background: white;
        border: 1px solid white;
      }   
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        position:absolute;
        top:0;
        left:0;
    }
    h1 {
        font-size: 20px;
        width: 80%;
    }
    .form ul .button {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
    .select2-drop {
    height: 29vh;
    overflow: scroll;
    }
    .select2-container-multi .select2-choices {
      max-height: 80px;
      overflow: scroll!important;
    }
    
    .speedButton {
      position: relative;
      transform: none;
    }
    .clickSpeed {
      width: 140px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 567px) {
    #background {
        overflow: scroll;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    
    .mySettings {
      width:80%;
      height: calc(100vh - 45px);
      overflow: scroll;
    }
    
    h1 {
        font-size: 20px;
        width: 80%;
    }
    .form ul .button {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
    .left {
        float: none;
        width: auto;
        display: block;
    }
    .right {
        float: none;
        display: block;
        width: auto;
    }
    .product-logo {
        width: 24px;
    }
    .userHeader {
      flex-direction: column;
    }
    .userHeader > div {
      width: 100%;
    }
    .userInfoWrapper {
        float: none;
        display: block;
        text-align: center;
        background: #f1f1f1;
        padding: 10px 3px;
    }
    .userInfo {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        max-width: 85%;
        margin-right: 10px;
    }
    #username {
        font-weight: bold;
    }
    #usercompany {
        font-style: italic;
    }
    #userimage {
        display: inline-block;
        width: 32px;
        vertical-align: middle;
    }
    .select2-drop {
        height: 32vh;
        overflow: scroll;
    }
    .select2-container-multi .select2-choices {
      max-height: 80px;
      overflow: scroll!important;
    }
    
    .custom {
      margin-top: 5px!important;
      padding: 8px 0px 5px 0px;
    }
    .footer {
      flex-direction: column;
    }
    .version, .contact, .statusWrapper {
      margin: 5px 0;
    }
    .statusWrapper {
      text-align: center;
    }
    .statusWrapper div {
      margin: 5px 0!important;
    }
    .otherProducts {
      justify-content: center;
      padding: 0;
    }
    .otherProducts li {
      margin-left: 0;
    }
    .form ul label.companies {
      font-size: 11px;
    }
    .selectWrapper {
      align-items: flex-end;
    }
    .form ul li span.selectAll, .form ul li span.selectDefault {
      word-break: normal;
      text-align: center;
    }
    .heading span.helpText {
      font-size: 12px;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        position:absolute;
        top:0;
        left:0;
    }
    .mySettings {
      width:80%;
      height: calc(100vh - 45px);
      overflow: scroll;
    }
    
    h1 {
        font-size: 20px;
        width: auto;
    }
    .form ul .button {
        text-align: center;
    }
    .form ul li {
        margin: 5px 0;
    }
    .form ul li select {
        width: 100%;
        margin-top: 5px;
    }
    .requestButton {
        margin: 5px;
        width: 150px;
        padding: 10px 5px 7px 5px;
    }
    #background {
        padding: 10px 10px 5px 10px;
    }
    .heading span {
        font-size: 14px;
    }
    .left {
        float: none;
        display: inline-block;
        width: 50%;
    }
    .right {
        float: none;
        display: inline-block;
        width: 50%;
    }
   .select2-container-multi .select2-choices {
      max-height: 80px;
      overflow: scroll!important;
    }
    .select2-drop {
        height: 36vh;
        overflow: scroll;
    }
    .clickSpeed {
      width: 140px;
    }
}

@media only screen and (max-width: 1440px) {
     #background {
        overflow: scroll;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        position:absolute;
        top:0;
        left:0;
    }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.75) contrast(1.2)
  }
  body {
   background: #191919;
  }
  #background {
    background: #484848;
    border: 10px solid #000000;
    outline: 1px solid #484848;
  }
  #chooseFilter {
    background: #747474;
  }
  .customWrapper.active {
    background: #484848;
  }
  #valutaForm, .form ul .optionsWrapper label {
   color: white;
  }
  h1 {
    color: #ffffff;
  }
  .heading {
    background: #000000;
  }
  .settingsOverlay {
    background: #313131f7;
  }
  .mySettings {
    border: 1px solid #000000;
    background: #666666;
  }
  .statsList .stat {
    color: #ffffff;
  }
  .statsList .statLabel {
    color: white;
  }
  .settingsUser {
    background: #303030;
  }
  .settingsUserContainer span, .settingsUserContainer a {
    color: white;
  }
  .errorOverlay {
    background: rgb(42 42 42 / 90%);
  }
  .errorMessage {
    background: #4e4e4e;
    border: 1px solid #525252;
  }
  .errorMessage h1 {
    background: #191919;
  }
  .errorMessage h3 {
    background: #191919;
  }
  .errorMessage .pre {
    background: #6a6a6a;
    border: 1px solid #000000;
    color: white;
  }
  .errorMessage .closeError {
    color: #000000;
  }
  .userLanguage {
   color: white;
  }
}
