<!DOCTYPE html>
<html ng-app="valutaBox">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="MetaAuthor" name="AUTHOR" content="Invantive">
    <meta name="description" content="Valuta Tools">
    <meta id="MetaKeywords" name="KEYWORDS" content="valuta, tools, ">
    <meta name="RESOURCE-TYPE" content="DOCUMENT">
    <meta id="MetaRobots" name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="DISTRIBUTION" content="GLOBAL">
    <meta name="RATING" content="GENERAL">
    <meta name="author" content="Invantive">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Valuta Tools</title>
    <meta name="og:description" content="Valuta Tools">
    <link type="text/css" rel="stylesheet" href="valuta-tools-nl.css">
    <link type="text/css" rel="stylesheet" href="angular-busy.css">
    <link rel="apple-touch-icon" href="valuta-tools-nl-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="valuta-tools-nl-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="valuta-tools-nl-touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="valuta-tools-nl-touch-icon-ipad-retina.png">
    <link type="text/css" rel="stylesheet" href="ui-select.css">
    <link type="text/css" rel="stylesheet" href="css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="css/select.min.css">
    <script type="text/javascript" src="js/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/messageformat.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/angular-translate.js"></script>
    <script type="text/javascript" src="js/angular-translate-interpolation-messageformat.js"></script>
    <script type="text/javascript" src="js/select.min.js"></script>
    <script type="text/javascript" src="js/se-v2.js"></script>
    <script type="text/javascript" src="js/angular-busy.js"></script>
    <script type="text/javascript" src="js/invantive.js"></script>

    <meta property="og:type" content="website">
    <meta name="theme-color" content="#67a5db">
    <meta name="dcterms.dateCopyrighted" content="2004-2022">
    <script>
       (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-PX8CZ5G');
    </script>
</head>

<body ng-controller="valuta as vlta">
    <script>
      if (typeof jQuery == 'undefined') {  
        document.getElementById("attentionJquery").style.display = "block";
      }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PX8CZ5G" height="0" width="0" style="display:none;visibility:hidden" />
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="mySettings">
      <h2 class="heading"><span translate="itgen_ct_user_settings">User Settings</span><span class="closeSettings">X</span></h2>
      <div class="userSettingsContent">
        <div class="settingsUser">
        <img class="userSettingImage" />
        <div class="settingsUserContainer">
          <span>{{ mySettings.FULLNAME }}</span>
          <span>{{ mySettings.DIVISIONCUSTOMERNAME }}</span>
          <a href="mailto:{{ mySettings.email_address }}">{{ myLanguage.EMAIL }}</a>
        </div>
        <span class="userLanguage">{{ myLanguage.LANGUAGECODE }}</span>
        </div>
        <ul class="statsList">
        <li><h3 translate="itgen_ct_statistics"></h3></li>
          <li><span class="statLabel" translate="itgen_ct_data_container_id"></span>: <span class="stat">{{ myLanguage.DATACONTAINERID }}</span></li>
          <li><span class="statLabel" translate="itgen_ct_first_import_date"></span>: <span class="stat">{{ mySettings.first_import_date | date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
          <li><span class="statLabel" translate="itgen_ct_last_import_date"></span>: <span class="stat">{{ mySettings.last_import_date | date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
          <li><span class="statLabel" translate="itgen_ct_total_imports"></span>: <span class="stat">{{ mySettings.cnt_import }}</span></li>
          <li><span class="statLabel" translate="itgen_ct_total_rates_imported"></span>: <span class="stat">{{ mySettings.cnt_import_rates | number:'':'en-EN'}}</span></li>
          <li><span class="statLabel" translate="itgen_ct_total_duration"></span>: <span class="stat">{{ mySettings.total_duration_sec | number:'':'en-EN'}} {{ 'itgen_ct_seconds' | translate }}</span></li>
        </ul>
      </div>
    </div>
    <div class="settingsOverlay"></div>
    <div id="background">
        <div id="container" cg-busy="vlta.spinnerGet">
            <div class="errorMessage er500"><h3></h3><span class="closeError" ng-click="reloadPage()">X</span><span class="pre"></span></div>
            <div class="errorOverlay"></div>
            <div class="step1">
                <div class="userHeader">
                  <div>
                    <a class="bsrBack" title="{{ 'itgen_ct_goback' | translate }}"><img class="productlogo" src="valuta-tools-nl-logo-32x32.svg" alt="{{ 'itgen_ct_logo_text' | translate }}"></a>
                    <h1 translate="itgen_ct_heading"></h1>
                  </div>
                  <div class="userInfoWrapper">
                    <span class="userInfo">
                      <div id="username"></div>
                      <div id="usercompany"></div>
                      <div id="country" style="display:none"></div>
                    </span>
                    <span class="userImageWrapper"><img id="userimage" /></span>
                  </div>
                </div>
                <div class="slideIn">
                <h2 class="heading">
                  <span translate="itgen_ct_toolname"></span>
                  <a class="helpButton" href="https://documentation.invantive.com/2017R2/currency-toolkit/webhelp/index.html" target="blank" title="{{ 'itgen_ct_helpbuttontt' | translate }}">
                    <span class="helpIcon">?</span>
                    <span class="helpText" translate="itgen_ct_helpbutton"></span>
                  </a>
                </h2>
                <div class="attentionCloud">
                  <h4 translate="itgen_ct_attention_cloud">Attentie!</h4>
                  <p translate="itgen_ct_attention_cloud_text">Bereid uzelf tijdig voor op de overgang in 2022 van Valuta Tools naar Invantive Cloud.</p><a href="https://forums.invantive.com/t/verhuizing-valuta-tools-naar-invantive-cloud/1567" target="_blank" translate="itgen_ct_attention_cloud_steps">Lees hier de stappen.</a>
                </div>
                <div id="attentionJquery">
                  <h4 translate="itgen_ct_attention_cloud">Attentie!</h4>
                  <p translate="itgen_ct_attention_jquery">jQuery is uitgeschakeld door software of beheerder. Vraag uw IT-beheerder om het gebruik van jQuery mogelijk te maken om met Valuta Tools te werken.</p>
                </div>
                <div id="chooseFilter" class="startForm">
                    <div class="form">
                        <ul>
                            <li class="button">
                                <a class="requestButton bsrCurrency" translate="itgen_ct_import" ng-click="vlta.startValuta()"></a>
                            </li>
                            <li class="buttonBridgeOnline">
                                <span translate="itgen_ct_cloud_button"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="_form_37" style="display:none"></div>
                    <script src="https://invantive.activehosted.com/f/embed.php?id=37" type="text/javascript" charset="utf-8"></script>
                </div>
                    <ul class="otherProducts">
                        <li class="adButton">
                        </li>
                   </ul>
                </div>
            </div>
            <div class="step2">
            <div class="overlayModal"></div>
            <div class="copiedClipboard"><span class="copySuccess" translate="itgen_ct_copied"></span></div>
                <div class="slideIn2">
                <h2 class="heading">
                  <span translate="itgen_ct_import_rates"></span>
                  <a class="helpButton" href="https://documentation.invantive.com/2017R2/currency-toolkit/webhelp/index.html" target="blank" title="{{ 'itgen_ct_helpbuttontt' | translate }}">
                    <span class="helpIcon">?</span>
                    <span class="helpText" translate="itgen_ct_helpbutton"></span>
                  </a>
                </h2>
                
                <!--
                <div class="attentionBox">
                  <h4>Attentie!</h4>
                  Exact Online zal <strong>vanaf</strong> <a href="https://forums.invantive.com/t/laad-tijdig-uw-wisselkoersen-valuta-tools-voor-exact-online-mogelijk-niet-beschikbaar-na-1-juli/1238" target="_blank">5 juli</a> wijzigingen doorvoeren. Hierdoor zal deze app mogelijk na 5 juli niet altijd werken. We kunnen dit nog niet inschatten. Exact heeft aangekondigd de wijzigingen in de tijd verspreid door te gaan voeren. Zorg ook voor een terugvalscenario mocht de app niet beschikbaar zijn na 5 juli. We pogen de verstoringen zo kort mogelijk te laten duren.
                </div>
                -->
                <div class="attentionCloud">
                  <h4 translate="itgen_ct_attention_cloud">Attentie!</h4>
                  <p>Bereid uzelf voor op de overgang van deze applicatie naar Invantive Cloud, <a href="https://forums.invantive.com/t/verhuizing-valuta-tools-naar-invantive-cloud/1567" target="_blank">klik hier voor uitleg</a>.</p>
                </div>
                <div id="chooseFilter">
                    <form class="form" id="valutaForm" name="valutaForm">
                        <ul>
                          <li>
                              <div class="selectWrapper">
                                <label class="companies" translate="itgen_ct_division"></label>:
                                <span class="selectAll" title="{{ 'itgen_ct_selectalltitle' | translate }}" translate="itgen_ct_selectall" ng-click='vlta.selectAll()'></span>
                                <span class="selectDefault" title="{{ 'itgen_ct_selectdefaulttitle' | translate }}" translate="itgen_ct_selectdefault" ng-click='vlta.selectDefault()'></span>
                              </div>
                              <ui-select multiple="multiple" ng-model="vlta.selectedDivisions" id="divisions" theme="select2" close-on-select="false" style="width: 100%;" ng-required="true" name="division">
                                <ui-select-match placeholder="Select a company">{{$item.LABEL}}</ui-select-match>
                                <ui-select-choices repeat="x in vlta.myDivisions | propsFilter: {CODE: $select.search, LABEL: $select.search}">
                                  <div ng-bind-html="x.LABEL | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                              <span class="formWarning" ng-show="valutaForm.division.$dirty && valutaForm.division.$invalid">
                                <span ng-show="valutaForm.division.$error.required" translate="itgen_ct_form_division"></span>
                              </span>
                          </li>
                          <li>
                              <div class="selectWrapper">
                                <label class="companies" translate="itgen_ct_currency"></label>:
                                <span class="selectAll" title="{{ 'itgen_ct_selectalltitle' | translate }}" translate="itgen_ct_selectall" ng-click='vlta.selectAllCurrencies()'></span>
                                <span class="selectDefault" title="{{ 'itgen_ct_selectdefaulttitle' | translate }}" translate="itgen_ct_selectdefault" ng-click='vlta.selectDefaultCurrency()'></span>
                              </div>
                              <ui-select id="currencies" multiple="multiple" ng-model="vlta.selectedCurrencies" theme="select2" close-on-select="false" style="width: 100%;" ng-required="true" name="currency">
                                <ui-select-match placeholder="Select a currency">{{$item.label}}</ui-select-match>
                                <ui-select-choices repeat="x in vlta.myCurrencies | propsFilter: {code: $select.search, label: $select.search}">
                                  <div ng-bind-html="x.label | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                              <span class="formWarning" ng-show="valutaForm.currency.$dirty && valutaForm.currency.$invalid">
                                <span ng-show="valutaForm.currency.$error.required" translate="itgen_ct_form_currency"></span>
                              </span>
                          </li>
                          <li class="optionsWrapper">
                            <div class="radioButtons"> 
                              <div class="customWrapper active">
                                <span class="customInputWrapper"><input type="number" id="numbers_of_days" class="customDays" min="1" ng-min="vlta.importMode == 'custom' ? 1 : false" ng-model="vlta.importDays" ng-required="true" /><label translate="itgen_ct_days"></label></span>
                                <span class="customOptionWrapper"></span><input id='beforeDate' type='text' class='datePicker' ng-required="true" ng-model="vlta.importDate" />
                              </div>

                            </div>
                            <ul class="buttonBar">
                              <li class="button">
                                <button type="submit" title="{{ 'itgen_ct_importsingle' | translate }}" class="requestButton importButton" ng-click='valutaForm.$valid && vlta.importCurrencyCustom()' translate="itgen_ct_importsingle"></button>
                              </li>
                              <li class="testRun">
                                <input type="checkbox" id="testRun">
                                <label for="custom" translate="itgen_ct_testrun"></label>
                              </li>
                              <li class="copyClipboard" ng-click="vlta.copyToClipboard()" title="{{ 'itgen_ct_copy' | translate }}">
                                <span></span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    </form>
                </div>
                </div>

                <div class="slideIn3">
                <h2 class="heading"><span translate="itgen_ct_choose_country"></span></h2>
                <div id="chooseFilter">
                    <form class="form" action='valuta-tools-nl.html'>
                        <ul>
                            <li>
                                <label translate="itgen_ct_country"></label>:
                                <select name="country" class="country" ng-model="vlta.selectedCountry">
                                    <option ng-repeat="x in vlta.myCountries" value="{{ x.Code }}">{{ x.Label }}</option>
                                </select>
                            </li>
                            <li class="button">
                                <button class="requestButton importButton" type="submit" translate="itgen_ct_choose_country"></button>
                            </li>
                        </ul>
                    </form>
                </div>
                </div>
                 
            </div>
            <div class="footer">
              <a href="https://releasenotes.invantive.com/PROD/valuta-tools.html" target="_blank" class="version" title="22.0.70">22.0.70</a>
              <div class="contact" translate="itgen_ct_contact_button" title="Contact">Contact</div>
              <div class="statusWrapper">
                <div class="ecb">
                  <span class="ecbdate"></span>
                  <span class="ecblabel" translate="itgen_ct_ecb"></span>
                </div>
                <div class="oer">
                  <span class="oerdate"></span>
                  <span class="oerlabel" translate="itgen_ct_oer"></span>
                </div>
                <div class="eolStatus">
                  <span class="status">none</span>
                  <span class="indicatorIcon"></span>
                  <span class="eollabel">Exact Online API</span>
                </div>
              </div>
              <span class="powered">
                <a href="https://invantive.com" translate="itgen_ct_powered"></a>
              </span>
            </div>
            <div class="contactPrompt" itemscope="" itemtype="http://schema.org/LocalBusiness">
              <article>
                <h3 translate="itgen_ct_contact_heading">Contact</h3>
                <ul itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <li><span itemprop="name">Invantive<sup>®</sup> BV</span>
                    <li><span itemprop="streetAddress">Biesteweg 11</span></li>
                    <li><span itemprop="PostalCode">3849 RD </span><span itemprop="addressLocality">Hierden</span></li>
                    <li><span itemprop="addressCountry" translate="itgen_ct_contact_nl">the Netherlands</span></li>
                    <li><span translate="itgen_ct_contact_sales">Sales</span>: <a href="tel:+31880026500"><span itemprop="telephone">+31 88 00 26 500</span></a></li>
                    <li><span translate="itgen_ct_contact_office_hours">Office hours</span>: 
                    <data itemprop="openingHours" value="Mo-Fr 09:00-17:00">09:00 - 17:00 CET</data>
                    </li>
                    <li><span translate="itgen_ct_contact_email_label">Email</span>: <a href="mailto:{{ 'itgen_ct_contact_email_url' | translate }}"><span itemprop="email" translate="itgen_ct_contact_email_url">info@invantive.com</span></a></li>
                    <li><span translate="itgen_ct_contact_web">Web</span>:<a href="{{ 'itgen_ct_contact_web_url' | translate }}" translate="itgen_ct_contact_web_label" itemprop="url">invantive.com</a></li>
               </ul>
              </article>
              <article class="supportPortal">
                <h3 translate="itgen_ct_support_portal">Support Portal</h3>
                <ul>
                  <li class="portalReview"><a href="https://search.google.com/local/writereview?placeid=ChIJt4sgLR4zxkcR9--iT1XRpis" target="_blank" translate="itgen_ct_review"></a></li>
                  <li class="portalQuestion"><a href="https://forums.invantive.com/tags/c/vragen/5/valuta-tools" target="_blank" translate="itgen_ct_question"></a></li>
                  <li class="portalIdea"><a href="https://forums.invantive.com/tags/c/ideas/7/valuta-tools" target="_blank" translate="itgen_ct_idea"></a></li>
               </ul>
              </article>
              <span class="closePortal"></span>
            </div>
        </div>
    </div>

    <!-- Needed for valutaBox -->
    <script src="js/app.js" type="text/javascript"></script>
</body>

</html>